<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="wap-font-scale" content="no"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        *, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .row {
            padding: 0;
            margin: 0;
        }

        html, body {
            font-size: 16px;
            font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "SimSun";
            -webkit-text-size-adjust: none;
        }

        body {
            margin: 0 auto;
            position: relative;
        }

        .scrollDiv {
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        @media only screen and (min-width: 400px) and (max-width: 420px) {
            html {
                font-size: 15.5px;
            }
        }

        @media only screen and (min-width: 380px) and (max-width: 400px) {
            html {
                font-size: 15px;
            }
        }

        @media only screen and (min-width: 360px) and (max-width: 380px) {
            html {
                font-size: 14px;
            }
        }

        @media only screen and (min-width: 340px) and (max-width: 360px) {
            html {
                font-size: 13px;
            }
        }

        @media only screen and (min-width: 320px) and (max-width: 340px) {
            html {
                font-size: 12px;
            }
        }

        @media only screen and (min-width: 420px) {
            html {
                font-size: 16.5px;
            }
        }
    </style>
</head>
<body>

<section class="scrollDiv" style="box-sizing: border-box;position: relative;max-width: 500px!important;min-width: 320px;letter-spacing: 0;margin: 0 auto;font-size: 1rem;">
    <!--<section style="width: 4.1rem;height: 4.5rem;position: absolute;right: 10px;top: 0;z-index: 2">-->
        <!--<img style="display: block;width: 100%;height: 100%;" src="https://res.51huanche.com/images/paiban/logo_holder.png"/>-->
    <!--</section>-->
    <section style="overflow: hidden;background: #fff">
        <section style="overflow: hidden;position: relative;color: #ffffcc;">
                <img src="https://res.51huanche.com/tpl/%E5%85%83%E6%97%A6%E7%89%B9%E5%8D%9601/02%E4%B8%BB%E5%9B%BE.png" style="width: 100%;display: block;"/>
        </section>
        <section style="position: relative;">
            <p class="part_title" style="font-size: 1.7rem;font-weight:600;color: #f9b538;text-align: center;margin: 1rem 0 0;">
                <span style="display:inline-block;width:100%;padding: .5rem 0 0"><b style="font-size: 1.3rem;font-weight: 900;">\\</b>&nbsp;1月1日元旦狂欢&nbsp;<b style="font-size: 1.3rem;font-weight: 900;">\\</b></span>
            </p>
            <p class="part_title" style="font-size: 1.7rem;font-weight:600;color: #27241b;text-align: center;margin: 0 auto;width:70%;">
                <span style="display:inline-block;width:100%;padding:0">英菲尼迪品鉴团购会</span>
            </p>
        </section>
        <section style="overflow:hidden;position: relative;background: #fff;">
            <section style="position: relative;">
                <p class="part_title" style="font-size: 1.125rem;font-weight:600;color: #0a0c09;text-align: center;margin: 1rem auto 0;background: url(&#39;https://res.51huanche.com/tpl/%E5%85%83%E6%97%A6%E7%89%B9%E5%8D%9601/03%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">
                    <span style="display:inline-block;width:100%;padding: 1.2rem 0 .9rem">多重好礼等你来</span>
                </p>
            </section>
            <section style="padding: 0rem 1.5rem;box-sizing: border-box;overflow: hidden;">
                <section class="act_item" style="background: #fff;margin: .5rem auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#666565;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%85%83%E6%97%A6%E7%89%B9%E5%8D%9601/04%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                            签到礼
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #242323;">
                           当天到场所有客户签到
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.125rem;color: #f77d3b;margin: 0;font-weight: 600">
                           送汽车配饰精美礼包一套
                        </section>
                    </section>
                </section>
                <section class="act_item" style="background: #fff;margin: .5rem auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#666565;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%85%83%E6%97%A6%E7%89%B9%E5%8D%9601/04%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                            门票礼
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #242323;">
                            购买门票当天凭入场券到场领取
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.125rem;color: #f77d3b;margin: 0;font-weight: 600">
                            涮烤一体鸳鸯锅一个
                        </section>
                    </section>
                </section>
                <section class="act_item" style="background: #fff;margin: .5rem auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#666565;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%85%83%E6%97%A6%E7%89%B9%E5%8D%9601/04%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                            限量特价车
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #242323;">
                            19800元风行T5开回家（指定车型）
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.125rem;color: #f77d3b;margin: 0;font-weight: 600">
                            全系车型低至一成首付提车，三年免息
                        </section>
                    </section>
                </section>
                <section class="act_item" style="background: #fff;margin: .5rem auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#666565;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%85%83%E6%97%A6%E7%89%B9%E5%8D%9601/04%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                           多轮抽奖礼
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #242323;">
                            现场补交2000元以上订车款
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.125rem;color: #f77d3b;margin: 0;font-weight: 600">
                            均可参与6轮大抽奖活动，100%中奖
                        </section>
                    </section>
                </section>
                <section class="act_item" style="background: #fff;margin: .5rem auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#666565;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%85%83%E6%97%A6%E7%89%B9%E5%8D%9601/04%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                            幸运互动礼
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #242323;">
                            到场所有客户均可参与互动问答或游戏
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.125rem;color: #f77d3b;margin: 0;font-weight: 600">
                            赢取礼品、洗衣液、收纳箱、吸尘器等...
                        </section>
                    </section>
                </section>

            </section>
        </section>
        <section style="overflow:hidden;position: relative;background: #fff">
            <section style="position: relative;">
                <p class="part_title" style="font-size: 1.125rem;font-weight:600;color: #0a0c09;text-align: center;margin: 1rem auto;background: url(&#39;https://res.51huanche.com/tpl/%E5%85%83%E6%97%A6%E7%89%B9%E5%8D%9601/05%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">
                    <span style="display:inline-block;width:100%;padding: 1.2rem 0 .9rem">多重好车任你选</span>
                </p>
            </section>
            <section style="padding: 0rem .5rem;box-sizing: border-box;overflow: hidden;">
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <section class="act_title" style="color:#010000;text-align:center;padding:1rem 0;font-size: 1rem;background:  url(&#39;https://res.51huanche.com/tpl/%E5%85%83%E6%97%A6%E7%89%B9%E5%8D%9601/04%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">

                     英菲尼迪Q50
                    </section>
                    <section class="act_desc"
                             style="font-size: .9rem;color: #242323;text-align: center;margin: 0;padding:0;">
                        架控新时代，为超越既往而生
                    </section>
                    <setion>
                        <img src="https://res.51huanche.com/tpl/%E5%85%83%E6%97%A6%E7%89%B9%E5%8D%9601/%E5%9B%BE%E5%B1%82%205.png" style="width: 100%;margin: .8rem auto;display: block;"/>
                    </setion>
                </section>
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <section class="act_title" style="color:#010000;text-align:center;padding:1rem 0;font-size: 1rem;background:  url(&#39;https://res.51huanche.com/tpl/%E5%85%83%E6%97%A6%E7%89%B9%E5%8D%9601/04%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">

                        英菲尼迪Q60
                    </section>
                    <section class="act_desc"
                             style="font-size: .9rem;color: #242323;text-align: center;margin: 0;padding:0;">
                        架控新时代，释放本能
                    </section>
                    <setion>
                        <img src="https://res.51huanche.com/tpl/%E5%9C%A3%E8%AF%9E02/%E5%9B%BE%E5%B1%82%206.png" style="width: 100%;margin: .8rem auto;display: block;"/>
                    </setion>
                </section>
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <section class="act_title" style="color:#010000;text-align:center;padding:1rem 0;font-size: 1rem;background:  url(&#39;https://res.51huanche.com/tpl/%E5%85%83%E6%97%A6%E7%89%B9%E5%8D%9601/04%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">

                        英菲尼迪ESQ
                    </section>
                    <section class="act_desc"
                             style="font-size: .9rem;color: #242323;text-align: center;margin: 0;padding:0;">
                       率性而活，特立独型的紧凑运动SUV
                    </section>
                    <setion>
                        <img src="https://res.51huanche.com/tpl/%E5%9C%A3%E8%AF%9E02/%E5%9B%BE%E5%B1%82%207.png" style="width: 100%;margin: .8rem auto;display: block;"/>
                    </setion>
                </section>
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <section class="act_title" style="color:#010000;text-align:center;padding:1rem 0;font-size: 1rem;background:  url(&#39;https://res.51huanche.com/tpl/%E5%85%83%E6%97%A6%E7%89%B9%E5%8D%9601/04%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">

                        英菲尼迪QX30
                    </section>
                    <section class="act_desc"
                             style="font-size: .9rem;color: #242323;text-align: center;margin: 0;padding:0;">
                       大胆突破以往设计的传统界限，创造、挑战、选择
                    </section>
                    <setion>
                        <img src="https://res.51huanche.com/tpl/%E5%9C%A3%E8%AF%9E02/%E5%9B%BE%E5%B1%82%209.png" style="width: 100%;margin: .8rem auto;display: block;"/>
                    </setion>
                </section>
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <section class="act_title" style="color:#010000;text-align:center;padding:1rem 0;font-size: 1rem;background:  url(&#39;https://res.51huanche.com/tpl/%E5%85%83%E6%97%A6%E7%89%B9%E5%8D%9601/04%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">

                        英菲尼迪Q70L
                    </section>
                    <section class="act_desc"
                             style="font-size: .9rem;color: #242323;text-align: center;margin: 0;padding:0;">
                        坚信初心，尽释豪华之美，成就优雅尊行风范
                    </section>
                    <setion>
                        <img src="https://res.51huanche.com/tpl/%E5%9C%A3%E8%AF%9E02/%E5%9B%BE%E5%B1%82%208.png" style="width: 100%;margin: .8rem auto;display: block;"/>
                    </setion>
                </section>

              </section>

            <section style="text-align: center;color: #242323;box-sizing: border-box;padding: 1rem 0">
                更多优惠信息，欢迎到店咨询
            </section>
        </section>
    </section>
</section>
</body>
</html>