<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="wap-font-scale" content="no"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        *, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .row {
            padding: 0;
            margin: 0;
        }

        html, body {
            font-size: 16px;
            font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "SimSun";
            -webkit-text-size-adjust: none;
        }

        body {
            margin: 0 auto;
            position: relative;
        }

        .scrollDiv {
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        @media only screen and (min-width: 400px) and (max-width: 420px) {
            html {
                font-size: 15.5px;
            }
        }

        @media only screen and (min-width: 380px) and (max-width: 400px) {
            html {
                font-size: 15px;
            }
        }

        @media only screen and (min-width: 360px) and (max-width: 380px) {
            html {
                font-size: 14px;
            }
        }

        @media only screen and (min-width: 340px) and (max-width: 360px) {
            html {
                font-size: 13px;
            }
        }

        @media only screen and (min-width: 320px) and (max-width: 340px) {
            html {
                font-size: 12px;
            }
        }

        @media only screen and (min-width: 420px) {
            html {
                font-size: 16.5px;
            }
        }
    </style>
</head>
<body>

<section class="scrollDiv" style="box-sizing: border-box;position: relative;max-width: 500px!important;min-width: 320px;letter-spacing: 0;margin: 0 auto;font-size: 1rem;">
    <!--<section style="width: 4.1rem;height: 4.5rem;position: absolute;right: 10px;top: 0;z-index: 2">-->
        <!--<img style="display: block;width: 100%;height: 100%;" src="https://res.51huanche.com/images/paiban/logo_holder.png"/>-->
    <!--</section>-->
    <section style="overflow: hidden;background: #fff">
        <section style="overflow: hidden;position: relative;color: #ffffcc;">
                <img src="https://res.51huanche.com/tpl/%E5%B0%8F%E5%B9%B4%E5%A4%9C02/01%E4%B8%BB%E5%9B%BE.jpg" style="width: 100%;display: block;"/>
        </section>
        <section style="position: relative;">

            <p class="part_title" style="font-size: 1.3rem;font-weight:600;color: #ffa032;text-align: center;margin: .5rem auto 0;padding:1rem 0;background: url('https://res.51huanche.com/tpl/%E5%B0%8F%E5%B9%B4%E5%A4%9C02/02%E6%A0%87%E9%A2%98.png') 0 100% no-repeat;background-size: 100% auto">
                <span style="display:inline-block;width:100%;padding:0">购车享万元补贴</span>
            </p>
        </section>
        <section style="overflow:hidden;position: relative;background: #fff;">
            <section style="position: relative;">
                <p class="part_title" style="font-size: 1.25rem;font-weight:600;color: #122452;text-align: center;margin: 1rem auto 0;background: url(&#39;https://res.51huanche.com/tpl/%E5%B0%8F%E5%B9%B4%E5%A4%9C02/03%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">
                    <span style="display:inline-block;width:100%;padding:.8rem 0 ">小年五重礼</span>
                </p>
            </section>
            <section style="padding: 0rem 1.5rem;box-sizing: border-box;overflow: hidden;">
                <section class="act_item" style="background: #fff;margin: 1rem auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#132354;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%B0%8F%E5%B9%B4%E5%A4%9C02/04%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                            预售礼
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #122452;">
                           全车系预交199元诚意金
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.125rem;color: #ffa032;margin: 0;font-weight: 600">
                          可抵千元现金+2019大礼包
                        </section>
                    </section>
                </section>
                <section class="act_item" style="background: #fff;margin: 1rem auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#132354;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%B0%8F%E5%B9%B4%E5%A4%9C02/04%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                            金融礼
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #122452;">
                            分期购车超划算
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.125rem;color: #ffa032;margin: 0;font-weight: 600">
                            首付低至一成 2年0利率
                        </section>
                    </section>
                </section>
                <section class="act_item" style="background: #fff;margin: 1rem auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#132354;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%B0%8F%E5%B9%B4%E5%A4%9C02/04%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                            特价礼
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #122452;">
                            30台特价车
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.125rem;color: #ffa032;margin: 0;font-weight: 600">
                            上市集团+厂家政策全部给你
                        </section>
                    </section>
                </section>
                <section class="act_item" style="background: #fff;margin: 1rem auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#132354;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%B0%8F%E5%B9%B4%E5%A4%9C02/04%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                           循环礼
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #122452;">
                            每3个订单即可享抽奖1次
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.125rem;color: #ffa032;margin: 0;font-weight: 600">
                           先定先抽，幸运叠加
                        </section>
                    </section>
                </section>
                <section class="act_item" style="background: #fff;margin: 1rem auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#132354;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%B0%8F%E5%B9%B4%E5%A4%9C02/04%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                           抢先礼
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #122452;">
                            活动计时开始后前5名订车客户
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.125rem;color: #ffa032;margin: 0;font-weight: 600">
                            赠500元加油卡一张
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section style="overflow:hidden;position: relative;background: #fff">
            <section style="position: relative;">
                <p class="part_title" style="font-size: 1.25rem;font-weight:600;color: #122452;text-align: center;margin: 1rem auto;background: url(&#39;https://res.51huanche.com/tpl/%E5%B0%8F%E5%B9%B4%E5%A4%9C02/03%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">
                    <span style="display:inline-block;width:100%;padding: .8rem 0;">新车型新惊喜</span>
                </p>
            </section>
            <section style="padding: 0rem .5rem;box-sizing: border-box;overflow: hidden;">
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <section class="act_title" style="color:#132354;font-weight:600;text-align:center;padding:1rem 0;font-size: 1rem;background:  url(&#39;https://res.51huanche.com/tpl/%E5%B0%8F%E5%B9%B4%E5%A4%9C02/04%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">

                     沃尔沃XC40
                    </section>
                    <section class="act_desc"
                             style="font-size: .9rem;color: #132452;text-align: center;margin: 0;padding:0;">
                        都市纯正豪华SUV
                    </section>
                    <setion>
                        <img src="https://res.51huanche.com/tpl/%E6%96%B0%E5%B9%B4%E7%AD%94%E8%B0%A203/1%E8%BD%A6.png" style="width: 100%;margin: .8rem auto;display: block;"/>
                    </setion>
                </section>
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <section class="act_title" style="color:#132354;font-weight:600;text-align:center;padding:1rem 0;font-size: 1rem;background:  url(&#39;https://res.51huanche.com/tpl/%E5%B0%8F%E5%B9%B4%E5%A4%9C02/04%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">

                        沃尔沃XC60
                    </section>
                    <section class="act_desc"
                             style="font-size: .9rem;color: #132452;text-align: center;margin: 0;padding:0;">
                        路见不凡
                    </section>
                    <setion>
                        <img src="https://res.51huanche.com/tpl/%E6%96%B0%E5%B9%B4%E7%AD%94%E8%B0%A203/2%E8%BD%A6.png" style="width: 100%;margin: .8rem auto;display: block;"/>
                    </setion>
                </section>
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <section class="act_title" style="color:#132354;font-weight:600;text-align:center;padding:1rem 0;font-size: 1rem;background:  url(&#39;https://res.51huanche.com/tpl/%E5%B0%8F%E5%B9%B4%E5%A4%9C02/04%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">

                        沃尔沃XC90
                    </section>
                    <section class="act_desc"
                             style="font-size: .9rem;color: #132452;text-align: center;margin: 0;padding:0;">
                        阅天下 揽格局
                    </section>
                    <setion>
                        <img src="https://res.51huanche.com/tpl/%E6%96%B0%E5%B9%B4%E7%AD%94%E8%B0%A203/3%E8%BD%A6.png" style="width: 100%;margin: .8rem auto;display: block;"/>
                    </setion>
                </section>
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <section class="act_title" style="color:#132354;font-weight:600;text-align:center;padding:1rem 0;font-size: 1rem;background:  url(&#39;https://res.51huanche.com/tpl/%E5%B0%8F%E5%B9%B4%E5%A4%9C02/04%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">

                        沃尔沃S60L
                    </section>
                    <section class="act_desc"
                             style="font-size: .9rem;color: #132452;text-align: center;margin: 0;padding:0;">
                        四舍五入一步进阶
                    </section>
                    <setion>
                        <img src="https://res.51huanche.com/tpl/%E6%96%B0%E5%B9%B4%E7%AD%94%E8%B0%A203/4%E8%BD%A6.png" style="width: 100%;margin: .8rem auto;display: block;"/>
                    </setion>
                </section>
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <section class="act_title" style="color:#132354;font-weight:600;text-align:center;padding:1rem 0;font-size: 1rem;background:  url(&#39;https://res.51huanche.com/tpl/%E5%B0%8F%E5%B9%B4%E5%A4%9C02/04%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">

                        沃尔沃S90
                    </section>
                    <section class="act_desc"
                             style="font-size: .9rem;color: #132452;text-align: center;margin: 0;padding:0;">
                        智取清新 事不宜迟
                    </section>
                    <setion>
                        <img src="https://res.51huanche.com/tpl/%E6%96%B0%E5%B9%B4%E7%AD%94%E8%B0%A203/5%E8%BD%A6.png" style="width: 100%;margin: .8rem auto;display: block;"/>
                    </setion>
                </section>

              </section>

            <section style="text-align: center;color: #132452;box-sizing: border-box;padding: 1rem 0">
                更多优惠信息，欢迎到店咨询
            </section>
        </section>
    </section>
</section>
</body>
</html>