<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="wap-font-scale" content="no"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        *, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .row {
            padding: 0;
            margin: 0;
        }

        html, body {
            font-size: 16px;
            font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "SimSun";
            -webkit-text-size-adjust: none;
        }

        body {
            margin: 0 auto;
            position: relative;
        }

        .scrollDiv {
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        @media only screen and (min-width: 400px) and (max-width: 420px) {
            html {
                font-size: 15.5px;
            }
        }

        @media only screen and (min-width: 380px) and (max-width: 400px) {
            html {
                font-size: 15px;
            }
        }

        @media only screen and (min-width: 360px) and (max-width: 380px) {
            html {
                font-size: 14px;
            }
        }

        @media only screen and (min-width: 340px) and (max-width: 360px) {
            html {
                font-size: 13px;
            }
        }

        @media only screen and (min-width: 320px) and (max-width: 340px) {
            html {
                font-size: 12px;
            }
        }

        @media only screen and (min-width: 420px) {
            html {
                font-size: 16.5px;
            }
        }
    </style>
</head>
<body>

<section class="scrollDiv" style="box-sizing: border-box;position: relative;max-width: 500px!important;min-width: 320px;letter-spacing: 0;margin: 0 auto;font-size: 1rem;">
    <!--<section style="width: 4.1rem;height: 4.5rem;position: absolute;right: 10px;top: 0;z-index: 2">-->
    <!--<img style="display: block;width: 100%;height: 100%;" src="https://res.51huanche.com/images/paiban/logo_holder.png"/>-->
    <!--</section>-->
    <section style="overflow: hidden;background: #fff">
        <section style="overflow: hidden;position: relative;color: #ffffcc;">
            <img src="https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/01%E4%B8%BB%E5%9B%BE.jpg" style="width: 100%;display: block;"/>
        </section>
        <section style="position: relative;">
            <p class="part_title" style="font-size: 1.7rem;font-weight:600;color: #feb13b;text-align: center;margin: 1rem 0 0;">
                <span style="display:inline-block;width:100%;padding: .5rem 0 0">年终狂欢好礼送不停</span>
            </p>
            <p class="part_title" style="font-size: 1.7rem;font-weight:600;color: #2d2d2d;text-align: center;margin: 0 auto;">
                <span style="display:inline-block;width:100%;padding:0">梅赛德斯-奔驰品鉴团购会</span>
            </p>
        </section>
        <section style="overflow:hidden;position: relative;background: #fff;">
            <section style="position: relative;">
                <p class="part_title" style="font-size: 1rem;font-weight:600;color: #151515;text-align: center;margin: 1rem auto 0;background: url(&#39;https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/02%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">
                    <span style="display:inline-block;width:100%;padding:1rem 0;">多重好礼等你来</span>
                </p>
            </section>
            <section style="padding: 0rem 1.5rem;box-sizing: border-box;overflow: hidden;">
                <section class="act_item" style="background: #fff;margin: 0 auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#1f1f1f;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/03%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                            签到礼
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #272727;">
                            当天到场所有客户签到
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.1rem;color: #272727;">
                            <span style="text-align:center;font-size: 1.125rem;color: #ff9f0f;margin: 0;font-weight: 600">送汽车配饰精美礼包一套</span>
                        </section>
                    </section>
                </section>
                <section class="act_item" style="background: #fff;margin: 0 auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#1f1f1f;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/03%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                            预售礼
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #272727;">
                            优惠政策公布之前，预交3000元诚意金
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.1rem;color: #272727;">
                            可获得 <span style="text-align:center;font-size: 1.125rem;color: #ff9f0f;margin: 0;font-weight: 600">行车记录仪</span>一个，外加
                            <span style="text-align:center;font-size: 1.125rem;color: #ff9f0f;margin: 0;font-weight: 600">幸运红包</span>一个
                        </section>
                    </section>
                </section>
                <section class="act_item" style="background: #fff;margin: 0 auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#1f1f1f;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/03%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                            参与礼
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #272727;">
                            预交100元抵100元购车基金
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.1rem;color: #272727;">
                            可获得 <span style="text-align:center;font-size: 1.125rem;color: #ff9f0f;margin: 0;font-weight: 600">2年4次机油</span>特价车有限抢购名额
                        </section>
                    </section>
                </section>
                <section class="act_item" style="background: #fff;margin: 0 auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#1f1f1f;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/03%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                            支持礼
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #272727;">
                            前50名订车客户更有
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.125rem;color: #ff9f0f;margin: 0;font-weight: 600">
                            飞利浦音响、遥控飞机、自行车、儿童座椅
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #272727;">
                            等超值大礼，任选其一，数量有限，先定先得
                        </section>
                    </section>
                </section>
                <section class="act_item" style="background: #fff;margin: 0 auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#1f1f1f;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/03%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                            互动礼
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #272727;">
                            到店客户均可参加现场游戏互动套圈圈等
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.1rem;color: #272727;">
                            赢取 <span style="text-align:center;font-size: 1.125rem;color: #ff9f0f;margin: 0;font-weight: 600">精美礼品</span>
                        </section>
                    </section>
                </section>
                <section class="act_item" style="background: #fff;margin: 0 auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#1f1f1f;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/03%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                            转发礼
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #272727;">
                            转发此条微信消息至朋友圈
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.1rem;color: #272727;">
                            集赞118个，可获得 <span style="text-align:center;font-size: 1.125rem;color: #ff9f0f;margin: 0;font-weight: 600">小米充电宝</span>一个
                        </section>
                    </section>
                </section>
                <section class="act_item" style="background: #fff;margin: 0 auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#1f1f1f;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/03%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                            诚意礼
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #272727;">
                            预付38元诚意金
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.1rem;color: #272727;">
                            可享 <span style="text-align:center;font-size: 1.125rem;color: #ff9f0f;margin: 0;font-weight: 600">3800元</span>购车基金
                        </section>
                    </section>
                </section>
                <section class="act_item" style="background: #fff;margin: 0 auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#1f1f1f;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/03%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                            订车礼
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #272727;">
                            预付诚意金
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #272727;">
                            即可获得<span style="text-align:center;font-size: 1.125rem;color: #ff9f0f;margin: 0;font-weight: 600">2次飞镖夺金</span>机会
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #272727;">
                            赢取<span style="text-align:center;font-size: 1.125rem;color: #ff9f0f;margin: 0;font-weight: 600">豪华法国浪漫双人游</span>
                        </section>
                    </section>
                </section>
                <section class="act_item" style="background: #fff;margin: 0 auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#1f1f1f;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/03%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                            转介礼
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #272727;">
                            老客户转介绍成功购车
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.1rem;color: #272727;">
                            老客户可享 <span style="text-align:center;font-size: 1.125rem;color: #ff9f0f;margin: 0;font-weight: 600">500元油卡+1年2次免费保养</span>
                        </section>
                    </section>
                </section>
                <section class="act_item" style="background: #fff;margin: 0 auto;text-align:center;padding: 0 ;min-height: 5rem;position: relative;">
                    <section>
                        <section class="act_name" style="font-weight:600;color:#1f1f1f;text-align:center;width:100%;padding:1rem .5rem;font-size: 1rem;background: url(&#39;https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/03%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto; ">
                            热身礼
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.1rem;margin: 0;color: #272727;">
                            到店参与女神节幸运抓红包活动
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.1rem;color: #272727;">
                            抓多少红包，抵多少车款
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section style="overflow:hidden;position: relative;background: #fff">
            <section style="position: relative;">
                <p class="part_title" style="font-size: 1rem;font-weight:600;color: #151515;text-align: center;margin: 1rem auto;background: url(&#39;https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/04%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">
                    <span style="display:inline-block;width:100%;padding: 1rem 0;">多种车型任你选</span>
                </p>
            </section>
            <section style="padding: 0rem .5rem;box-sizing: border-box;overflow: hidden;">
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <section class="act_title" style="color:#212121;text-align:center;padding:.3rem 0;font-size: 1rem;background:  url(&#39;https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/03%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">

                        A级车
                    </section>
                    <section class="act_desc"
                             style="font-size: 1rem;color: #2b2b2b;text-align: center;margin: 0;padding:0;">
                        全新梅赛德斯-奔驰长轴A级轿车
                    </section>
                    <setion>
                        <img src="https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/01%E8%BD%A6%E5%9E%8B%E5%9B%BE.jpg" style="width: 100%;margin: .8rem auto;display: block;"/>
                    </setion>
                </section>
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <section class="act_title" style="color:#212121;text-align:center;padding:.3rem 0;font-size: 1rem;background:  url(&#39;https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/03%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">

                        C级车
                    </section>
                    <section class="act_desc"
                             style="font-size: 1.1rem;color: #2b2b2b;text-align: center;margin: 0;padding:0;">
                        新一代长轴距C级运动轿车
                    </section>
                    <setion>
                        <img src="https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/02%E8%BD%A6%E5%9E%8B%E5%9B%BE.jpg" style="width: 100%;margin: .8rem auto;display: block;"/>
                    </setion>
                </section>
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <section class="act_title" style="color:#212121;text-align:center;padding:.3rem 0;font-size: 1rem;background:  url(&#39;https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/03%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">

                        C级车
                    </section>
                    <section class="act_desc"
                             style="font-size: 1.1rem;color: #2b2b2b;text-align: center;margin: 0;padding:0;">
                        新梅赛德斯-奔驰长轴距GLC SUV
                    </section>
                    <setion>
                        <img src="https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/03%E8%BD%A6%E5%9E%8B%E5%9B%BE.jpg" style="width: 100%;margin: .8rem auto;display: block;"/>
                    </setion>
                </section>
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <section class="act_title" style="color:#212121;text-align:center;padding:.3rem 0;font-size: 1rem;background:  url(&#39;https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/03%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">

                        E级车
                    </section>
                    <section class="act_desc"
                             style="font-size: 1.1rem;color: #2b2b2b;text-align: center;margin: 0;padding:0;">
                        梅赛德斯-奔驰长轴距E级轿车
                    </section>
                    <setion>
                        <img src="https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/04%E8%BD%A6%E5%9E%8B%E5%9B%BE.jpg" style="width: 100%;margin: .8rem auto;display: block;"/>
                    </setion>
                </section>
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <section class="act_title" style="color:#212121;text-align:center;padding:.3rem 0;font-size: 1rem;background:  url(&#39;https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/03%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">

                        A级车
                    </section>
                    <section class="act_desc"
                             style="font-size: 1.1rem;color: #2b2b2b;text-align: center;margin: 0;padding:0;">
                        梅赛德斯-奔驰长轴距A级车尽释未来摩登生活
                    </section>
                    <setion>
                        <img src="https://res.51huanche.com/tpl/%E5%B9%B4%E7%BB%88%E7%9B%9B%E5%85%B8/05%E8%BD%A6%E5%9E%8B%E5%9B%BE.jpg" style="width: 100%;margin: .8rem auto;display: block;"/>
                    </setion>
                </section>

            </section>

            <section style="text-align: center;color: #2b2b2b;box-sizing: border-box;padding: 1rem 0">
                更多优惠信息，欢迎到店咨询
            </section>
        </section>
    </section>
</section>
</body>
</html>