<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="wap-font-scale" content="no"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        *, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .row {
            padding: 0;
            margin: 0;
        }

        html, body {
            font-size: 16px;
            font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "SimSun";
            -webkit-text-size-adjust: none;
        }

        body {
            margin: 0 auto;
            position: relative;
        }

        .scrollDiv {
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        @media only screen and (min-width: 400px) and (max-width: 420px) {
            html {
                font-size: 15.5px;
            }
        }

        @media only screen and (min-width: 380px) and (max-width: 400px) {
            html {
                font-size: 15px;
            }
        }

        @media only screen and (min-width: 360px) and (max-width: 380px) {
            html {
                font-size: 14px;
            }
        }

        @media only screen and (min-width: 340px) and (max-width: 360px) {
            html {
                font-size: 13px;
            }
        }

        @media only screen and (min-width: 320px) and (max-width: 340px) {
            html {
                font-size: 12px;
            }
        }

        @media only screen and (min-width: 420px) {
            html {
                font-size: 16.5px;
            }
        }
    </style>
</head>
<body>

<section class="scrollDiv"
         style="box-sizing: border-box;position: relative;max-width: 500px!important;min-width: 320px;letter-spacing: 0;margin: 0 auto;font-size: 1rem;">
    <section style="width: 5rem;height: 5rem;position: absolute;right: 10px;top: 0;z-index: 2">
        <img style="display: block;width: 100%;height: 100%;" src="https://res.51huanche.com/images/paiban/logo_holder.png"/>
    </section>
    <section style="overflow: hidden;background: #191b28;">
        <section style="overflow: hidden;position: relative;color: #ffffcc;height: 18rem;background: url(&#39;https://res.51huanche.com/tpl/%E6%96%B0%E5%B9%B4%E7%AD%94%E8%B0%A201/01%E4%B8%BB%E5%9B%BE.png&#39;) 0 0 no-repeat;background-size: 100% 100%;">
            <!--    <img src="https://res.51huanche.com/tpl/%E6%84%9F%E6%81%A9%E8%8A%822/01%E4%B8%BB%E5%9B%BE.jpg" style="width: 100%;display: block;"/>-->
            <p style="position: absolute;font-size: 3rem;font-weight: 700;color: #ffdd82;top: 23%;left: 0;right: 0;margin: auto;text-align: center;">
                新年答谢购
            </p>
            <p style="text-align: center;position: absolute;top: 50%;left: 0;right: 0;margin: auto;color: #d81402;background: url(&#39;https://res.51huanche.com/tpl/%E6%96%B0%E5%B9%B4%E7%AD%94%E8%B0%A201/02%E5%89%AF%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% 100%;padding: 0.15rem 0 .4rem; font-size: 1.1rem;">
                新年纳福2019答谢购

            </p>
            <section style="position:absolute;top:74%;left:0;right:0;">
                <img  src="https://res.51huanche.com/tpl/%E5%9B%BD%E5%BA%864/B%E4%B8%9C%E9%A3%8E%E6%A0%87%E8%87%B4%E5%85%A8%E7%B3%BB.png" style="width: 100%;display: block;" />
            </section>
        </section>

        <section style="overflow:hidden;position: relative;background: #f41e27;">
            <section style="position: relative;">
                <!--<img src="https://7-imgpub.51huanche.com/ueditor/images/1033919261241905152.png-normal" style="display: block;width: 100%;">-->
                <p class="part_title" style="font-size: 1.5rem;color: #ffdd82;text-align: center;margin: 1rem 0 0;">
                    <span style="display:inline-block;width:100%;padding: .8rem 0;background: url(&#39;https://res.51huanche.com/tpl/%E6%96%B0%E5%B9%B4%E7%AD%94%E8%B0%A201/03%E5%B0%8F%E6%A0%87%E9%A2%98.png&#39;) 0 center no-repeat;background-size: 100% auto">狂欢政策</span>
                </p>
            </section>
            <section style="padding: 0;box-sizing: border-box;overflow: hidden;">
                <section class="act_item"
                         style="position:relative;background:#fff;margin: 1.5rem 1rem;padding:3rem 1.5rem 0.5rem 1rem;min-height: 5rem;display: flex;align-items: center;justify-content: space-between;box-shadow: -3px 4px 0px 0px #e1ba75">

                    <section>
                        <section class="act_name"
                                 style="position: absolute;top: 5%;left: 0;background:#e2bc75;width:7.5rem;text-align: left;color: #000000;padding:.2rem 1rem; box-shadow: -3px 4px 0px 0px #bd964b; ">

                            <span style="font-size: 1.25rem;font-weight: 600;">签到礼</span>
                        </section>
                        <section class="act_desc" style="color:#000;font-size: 1rem;text-align: left;margin:0;">
                            在线报名
                        </section>
                        <section class="act_title"
                                 style="font-size: 1.1rem;color: #ff0000;text-align: left;margin: .2rem 0 0;font-weight: 700;">
                            活动当天到场即送USB小风扇
                        </section>
                    </section>
                    <img src="https://res.51huanche.com/tpl/%E6%96%B0%E5%B9%B4%E7%AD%94%E8%B0%A201/01.png" style="max-width: 18%!important;display: block;margin:0 0 1.5rem;"/>

                </section>
                <section class="act_item"
                         style="position:relative;background:#fff;margin: 1.5rem 1rem;padding:3rem 1.5rem 0.5rem 1rem;min-height: 5rem;display: flex;align-items: center;justify-content: space-between;box-shadow: -3px 4px 0px 0px #e1ba75">

                    <section>
                        <section class="act_name"
                                 style="position: absolute;top: 5%;left: 0;background:#e2bc75;width:7.5rem;text-align: left;color: #000000;padding:.2rem 1rem; box-shadow: -3px 4px 0px 0px #bd964b; ">

                            <span style="font-size: 1.25rem;font-weight: 600;">订车礼</span>
                        </section>
                        <section class="act_desc" style="color:#000;font-size: 1rem;text-align: left;margin:0;">
                            订车即送
                        </section>
                        <section class="act_title"
                                 style="font-size: 1.1rem;color: #ff0000;text-align: left;margin: .2rem 0 0;font-weight: 700;">
                            1980元的高档蚕丝被
                        </section>
                    </section>
                    <img src="https://res.51huanche.com/tpl/%E6%96%B0%E5%B9%B4%E7%AD%94%E8%B0%A201/02.png" style="max-width: 18%!important;display: block;margin:0 0 1.5rem;"/>

                </section>
                <section class="act_item"
                         style="position:relative;background:#fff;margin: 1.5rem 1rem;padding:3rem 1.5rem 0.5rem 1rem;min-height: 5rem;display: flex;align-items: center;justify-content: space-between;box-shadow: -3px 4px 0px 0px #e1ba75">

                    <section>
                        <section class="act_name"
                                 style="position: absolute;top: 5%;left: 0;background:#e2bc75;width:7.5rem;text-align: left;color: #000000;padding:.2rem 1rem; box-shadow: -3px 4px 0px 0px #bd964b; ">

                            <span style="font-size: 1.25rem;font-weight: 600;">安心礼</span>
                        </section>
                        <section class="act_desc" style="color:#000;font-size: 1rem;text-align: left;margin:0;">
                            价格不满意
                        </section>
                        <section class="act_title"
                                 style="font-size: 1.1rem;color: #ff0000;text-align: left;margin: .2rem 0 0;font-weight: 700;">
                            3天内退意向金，礼品照拿
                        </section>
                    </section>
                    <img src="https://res.51huanche.com/tpl/%E6%96%B0%E5%B9%B4%E7%AD%94%E8%B0%A201/03.png" style="max-width: 18%!important;display: block;margin:0 0 1.5rem;"/>

                </section>
                <section class="act_item"
                         style="position:relative;background:#fff;margin: 1.5rem 1rem;padding:3rem 1.5rem 0.5rem 1rem;min-height: 5rem;display: flex;align-items: center;justify-content: space-between;box-shadow: -3px 4px 0px 0px #e1ba75">

                    <section>
                        <section class="act_name"
                                 style="position: absolute;top: 5%;left: 0;background:#e2bc75;width:7.5rem;text-align: left;color: #000000;padding:.2rem 1rem; box-shadow: -3px 4px 0px 0px #bd964b; ">

                            <span style="font-size: 1.25rem;font-weight: 600;">认筹礼</span>
                        </section>
                        <section class="act_desc" style="color:#000;font-size: 1rem;text-align: left;margin:0;">
                            在线支付0.01
                        </section>
                        <section class="act_title"
                                 style="font-size: 1.1rem;color: #ff0000;text-align: left;margin: .2rem 0 0;font-weight: 700;">
                            199可抵扣1000元的购车款
                        </section>
                    </section>
                    <img src="https://res.51huanche.com/tpl/%E6%96%B0%E5%B9%B4%E7%AD%94%E8%B0%A201/04.png" style="max-width: 18%!important;display: block;margin:0 0 1.5rem;"/>

                </section>
                <section class="act_item"
                         style="position:relative;background:#fff;margin: 1.5rem 1rem;padding:3rem 1.5rem 0.5rem 1rem;min-height: 5rem;display: flex;align-items: center;justify-content: space-between;box-shadow: -3px 4px 0px 0px #e1ba75">

                    <section>
                        <section class="act_name"
                                 style="position: absolute;top: 5%;left: 0;background:#e2bc75;width:7.5rem;text-align: left;color: #000000;padding:.2rem 1rem; box-shadow: -3px 4px 0px 0px #bd964b; ">

                            <span style="font-size: 1.25rem;font-weight: 600;">终极大奖</span>
                        </section>
                        <section class="act_desc" style="color:#000;font-size: 1rem;text-align: left;margin:0;">
                            0.01元竞拍，豪礼竞猜活动
                        </section>
                        <section class="act_title"
                                 style="font-size: 1.1rem;color: #ff0000;text-align: left;margin: .2rem 0 0;font-weight: 700;">
                            猜中即可获奖，全场客户均可参与
                        </section>
                    </section>
                    <img src="https://res.51huanche.com/tpl/%E6%96%B0%E5%B9%B4%E7%AD%94%E8%B0%A201/05.png" style="max-width: 18%!important;display: block;margin:0 0 1.5rem;"/>

                </section>
                <section class="act_item"
                         style="position:relative;background:#fff;margin: 1.5rem 1rem;padding:3rem 1.5rem 0.5rem 1rem;min-height: 5rem;display: flex;align-items: center;justify-content: space-between;box-shadow: -3px 4px 0px 0px #e1ba75">

                    <section>
                        <section class="act_name"
                                 style="position: absolute;top: 5%;left: 0;background:#e2bc75;width:7.5rem;text-align: left;color: #000000;padding:.2rem 1rem; box-shadow: -3px 4px 0px 0px #bd964b; ">

                            <span style="font-size: 1.25rem;font-weight: 600;">抢购礼</span>
                        </section>
                        <section class="act_desc" style="color:#000;font-size: 1rem;text-align: left;margin:0;">
                            豪礼竞猜活动
                        </section>
                        <section class="act_title"
                                 style="font-size: 1.1rem;color: #ff0000;text-align: left;margin: .2rem 0 0;font-weight: 700;">
                            立送豪华大礼包，全场客户均可参与
                        </section>
                    </section>
                    <img src="https://res.51huanche.com/tpl/%E6%96%B0%E5%B9%B4%E7%AD%94%E8%B0%A201/06.png" style="max-width: 18%!important;display: block;margin:0 0 1.5rem;"/>

                </section>
                <section class="act_item"
                         style="position:relative;background:#fff;margin: 1.5rem 1rem;padding:3rem 1.5rem 0.5rem 1rem;min-height: 5rem;display: flex;align-items: center;justify-content: space-between;box-shadow: -3px 4px 0px 0px #e1ba75">

                    <section>
                        <section class="act_name"
                                 style="position: absolute;top: 5%;left: 0;background:#e2bc75;width:7.5rem;text-align: left;color: #000000;padding:.2rem 1rem; box-shadow: -3px 4px 0px 0px #bd964b; ">

                            <span style="font-size: 1.25rem;font-weight: 600;">秒杀礼</span>
                        </section>
                        <section class="act_desc" style="color:#000;font-size: 1rem;text-align: left;margin:0;">
                            一元秒杀
                        </section>
                        <section class="act_title"
                                 style="font-size: 1.1rem;color: #ff0000;text-align: left;margin: .2rem 0 0;font-weight: 700;">
                            一元抢斯柯达精品
                        </section>
                    </section>
                    <img src="https://res.51huanche.com/tpl/%E6%96%B0%E5%B9%B4%E7%AD%94%E8%B0%A201/07.png" style="max-width: 18%!important;display: block;margin:0 0 1.5rem;"/>

                </section>
                <section class="act_item"
                         style="position:relative;background:#fff;margin: 1.5rem 1rem;padding:3rem 1.5rem 0.5rem 1rem;min-height: 5rem;display: flex;align-items: center;justify-content: space-between;box-shadow: -3px 4px 0px 0px #e1ba75">

                    <section>
                        <section class="act_name"
                                 style="position: absolute;top: 5%;left: 0;background:#e2bc75;width:7.5rem;text-align: left;color: #000000;padding:.2rem 1rem; box-shadow: -3px 4px 0px 0px #bd964b; ">

                            <span style="font-size: 1.25rem;font-weight: 600;">介绍礼</span>
                        </section>
                        <section class="act_desc" style="color:#000;font-size: 1rem;text-align: left;margin:0;">
                            成功介绍新客户购车
                        </section>
                        <section class="act_title"
                                 style="font-size: 1.1rem;color: #ff0000;text-align: left;margin: .2rem 0 0;font-weight: 700;">
                            送500元油卡一张
                        </section>
                    </section>
                    <img src="https://res.51huanche.com/tpl/%E6%96%B0%E5%B9%B4%E7%AD%94%E8%B0%A201/08.png" style="max-width: 18%!important;display: block;margin:0 0 1.5rem;"/>

                </section>
            </section>
        </section>
        <section style="overflow:hidden;position: relative;background:#f41e27">
            <section style="position: relative;">
                <!--<img src="https://7-imgpub.51huanche.com/ueditor/images/1033919261241905152.png-normal" style="display: block;width: 100%;">-->
                <p class="part_title" style="font-size: 1.5rem;color: #ffdd82;text-align: center;margin: .5rem 0 0;">
                    <span style="display:inline-block;width:100%;padding: .8rem 0;background: url('https://res.51huanche.com/tpl/%E6%96%B0%E5%B9%B4%E7%AD%94%E8%B0%A201/03%E5%B0%8F%E6%A0%87%E9%A2%98.png') 0 center no-repeat;background-size: 100% auto">狂欢政策</span>
                </p>
            </section>
            <section style="padding: 0rem 1.1rem;box-sizing: border-box;overflow: hidden;">
                <section style="background: #f41e27">
                    <section class="act_item" style="background:#fff;margin:1rem auto;position: relative;overflow: hidden;">
                        <setion>
                            <img src="https://res.51huanche.com/tpl/%E5%B9%B3%E5%AE%89%E5%A4%9C02/1%E8%BD%A6%E5%9E%8B%E5%9B%BE.jpg"
                                 style="width: 100%;display: block;"/>

                        </setion>
                        <section class="act_title" style="color:#191b28;background: #fff;overflow: hidden;text-align: center;padding:.5rem 0 0;font-size:1rem">
                            沃尔沃S90豪华轿车
                        </section>
                        <section class="act_title" style="color:#ff0000;background: #fff;font-weight:600;overflow: hidden;text-align: center;padding:.1rem 0 .5rem;font-size:1rem">
                            秉持以人为尊的品牌理念
                        </section>
                    </section>
                    <section class="act_item" style="background:#fff;margin:1rem auto;position: relative;overflow: hidden;">
                        <setion>
                            <img src="https://res.51huanche.com/tpl/%E5%B9%B3%E5%AE%89%E5%A4%9C02/2%E8%BD%A6%E5%9E%8B%E5%9B%BE.jpg"
                                 style="width: 100%;display: block;"/>

                        </setion>
                        <section class="act_title" style="color:#191b28;background: #fff;overflow: hidden;text-align: center;padding:.5rem 0 0;font-size:1rem">
                            以斯堪的纳维亚设计诠释北欧豪华
                        </section>
                        <section class="act_title" style="color:#ff0000;background: #fff;font-weight:600;overflow: hidden;text-align: center;padding:.1rem 0 .5rem;font-size:1rem">
                            满载人性化创新科技
                        </section>
                    </section>
                    <section class="act_item" style="background:#fff;margin:1rem auto;position: relative;overflow: hidden;">
                        <setion>
                            <img src="https://res.51huanche.com/tpl/%E5%B9%B3%E5%AE%89%E5%A4%9C02/3%E8%BD%A6%E5%9E%8B%E5%9B%BE.jpg"
                                 style="width: 100%;display: block;"/>

                        </setion>
                        <section class="act_title" style="color:#191b28;background: #fff;overflow: hidden;text-align: center;padding:.5rem 0 0;font-size:1rem">
                            至简美学诠释豪华品味
                        </section>
                        <section class="act_title" style="color:#ff0000;background: #fff;font-weight:600;overflow: hidden;text-align: center;padding:.1rem 0 .5rem;font-size:1rem">
                            匠心造诣雕琢大器空间
                        </section>
                    </section>
                    <section class="act_item" style="background:#fff;margin:1rem auto;position: relative;overflow: hidden;">
                        <setion>
                            <img src="https://res.51huanche.com/tpl/%E5%B9%B3%E5%AE%89%E5%A4%9C02/4%E8%BD%A6%E5%9E%8B%E5%9B%BE.jpg"
                                 style="width: 100%;display: block;"/>

                        </setion>
                        <section class="act_title" style="color:#191b28;background: #fff;overflow: hidden;text-align: center;padding:.5rem 0 0;font-size:1rem">
                            前瞻创新洞见趋势
                        </section>
                        <section class="act_title" style="color:#ff0000;background: #fff;font-weight:600;overflow: hidden;text-align: center;padding:.1rem 0 .5rem;font-size:1rem">
                            驰骋天地，执掌未来格局
                        </section>
                    </section>
                    <section class="act_item" style="background:#fff;margin:1rem auto;position: relative;overflow: hidden;">
                        <setion>
                            <img src="https://res.51huanche.com/tpl/%E5%B9%B3%E5%AE%89%E5%A4%9C02/5%E8%BD%A6%E5%9E%8B%E5%9B%BE.jpg"
                                 style="width: 100%;display: block;"/>

                        </setion>
                        <section class="act_title" style="color:#191b28;background: #fff;overflow: hidden;text-align: center;padding:.5rem 0 0;font-size:1rem">
                            一路向前，去经历，去感受
                        </section>
                        <section class="act_title" style="color:#ff0000;background: #fff;font-weight:600;overflow: hidden;text-align: center;padding:.1rem 0 .5rem;font-size:1rem">
                            去遇见前所未见，成就自己的不凡人生路
                        </section>
                    </section>
                    <section class="act_item" style="background:#fff;margin:1rem auto;position: relative;overflow: hidden;">
                        <setion>
                            <img src="https://res.51huanche.com/tpl/%E5%B9%B3%E5%AE%89%E5%A4%9C02/6%E8%BD%A6%E5%9E%8B%E5%9B%BE.jpg"
                                 style="width: 100%;display: block;"/>

                        </setion>
                        <section class="act_title" style="color:#191b28;background: #fff;overflow: hidden;text-align: center;padding:.5rem 0 0;font-size:1rem">
                            人生，应该活出自己的样子
                        </section>
                        <section class="act_title" style="color:#ff0000;background: #fff;font-weight:600;overflow: hidden;text-align: center;padding:.1rem 0 .5rem;font-size:1rem">
                            驾驭沃尔沃XC60
                        </section>
                    </section>
                    <section class="act_item" style="background:#fff;margin:1rem auto;position: relative;overflow: hidden;">
                        <setion>
                            <img src="https://res.51huanche.com/tpl/%E5%B9%B3%E5%AE%89%E5%A4%9C02/7%E8%BD%A6%E5%9E%8B%E5%9B%BE.jpg"
                                 style="width: 100%;display: block;"/>

                        </setion>
                        <section class="act_title" style="color:#191b28;background: #fff;overflow: hidden;text-align: center;padding:.5rem 0 0;font-size:1rem">
                            沃尔沃S90豪华轿车
                        </section>
                        <section class="act_title" style="color:#ff0000;background: #fff;font-weight:600;overflow: hidden;text-align: center;padding:.1rem 0 .5rem;font-size:1rem">
                            以智能引领驾驶的未来
                        </section>
                    </section>
                    <section class="act_item" style="background:#fff;margin:1rem auto;position: relative;overflow: hidden;">
                        <setion>
                            <img src="https://res.51huanche.com/tpl/%E5%B9%B3%E5%AE%89%E5%A4%9C02/8%E8%BD%A6%E5%9E%8B%E5%9B%BE.jpg"
                                 style="width: 100%;display: block;"/>

                        </setion>
                        <section class="act_title" style="color:#191b28;background: #fff;overflow: hidden;text-align: center;padding:.5rem 0 0;font-size:1rem">
                            沃尔沃XC90承袭北欧经典
                        </section>
                        <section class="act_title" style="color:#ff0000;background: #fff;font-weight:600;overflow: hidden;text-align: center;padding:.1rem 0 .5rem;font-size:1rem">
                            驰骋天地 执掌未来格局
                        </section>
                    </section>
                </section>
                <section style="padding: 0 0 1rem;font-size: 1rem;color: #fff;text-align: center;">更多优惠信息，欢迎到店咨询</section>
            </section>
        </section>
    </section>
</section>
</body>
</html>