<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="wap-font-scale" content="no"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        *, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .row {
            padding: 0;
            margin: 0;
        }

        html, body {
            font-size: 16px;
            font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "SimSun";
            -webkit-text-size-adjust: none;
        }

        body {
            margin: 0 auto;
            position: relative;
        }

        .scrollDiv {
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        @media only screen and (min-width: 400px) and (max-width: 420px) {
            html {
                font-size: 15.5px;
            }
        }

        @media only screen and (min-width: 380px) and (max-width: 400px) {
            html {
                font-size: 15px;
            }
        }

        @media only screen and (min-width: 360px) and (max-width: 380px) {
            html {
                font-size: 14px;
            }
        }

        @media only screen and (min-width: 340px) and (max-width: 360px) {
            html {
                font-size: 13px;
            }
        }

        @media only screen and (min-width: 320px) and (max-width: 340px) {
            html {
                font-size: 12px;
            }
        }

        @media only screen and (min-width: 420px) {
            html {
                font-size: 16.5px;
            }
        }
    </style>
</head>
<body>

<section class="scrollDiv" style="box-sizing: border-box; position: relative; min-width: 320px; letter-spacing: 0px; margin: 0px auto; max-width: 500px !important;">
    <p>
        <img src="https://7-imgpub.51huanche.com/ueditor/images/1158590853124591616.jpg-normal" style="width: 100%;display: block;"  alt="活动主KV.jpg"/>
    </p>
    <section class="_editor" data-support="96编辑器" data-style-id="24499">
        <section style="margin:10px 0px;">
            <section class="_editor" data-support="96编辑器" data-style-id="23791">
                <p style="font-size: 0px; color: rgba(255, 255, 255, 0);">
                    1
                </p>
            </section>
            <section class="_editor" data-support="96编辑器" data-style-id="24523" data-color="rgb(216, 40, 33)">
                <p style="font-size: 0px; color: #d82821;">
                    1
                </p>
                <section style="margin-top:20px;">
                    <section style="height:3em;">
                        <section style="width: 6em; float: left; border-top: 0.4em solid #d82821; border-right-color: #d82821; border-bottom-color: #d82821; border-left-color: #d82821;"></section>
                        <section style="width: 6em; float: right; border-top: 0.4em solid #d82821; border-right-color: #d82821; border-bottom-color: #d82821; border-left-color: #d82821;"></section>
                    </section>
                    <section style="margin: -2.8em 0em -0.2em; padding: 1em; border-width: 1px 0.4em; border-style: solid; border-color: #d82821;">
                        <p style="color: rgb(121, 121, 121); font-size: 1px; line-height: 1.75em; text-align: center;">
                            <strong><span style="font-size: 20px; color: rgb(255, 0, 0);">活动详情</span></strong>
                        </p>
                        <p style="color: #797979; font-size: 1px; line-height: 1.75em;">
                            <strong><span style="font-size: 14px; color: rgb(255, 0, 0);"><br/></span></strong>
                        </p>
                        <p style="color: #797979; font-size: 1px; line-height: 1.75em;">
                              <span style="font-size: 14px; color: rgb(0, 0, 0);">
                            <strong style="font-size: 14px; color: rgb(255, 0, 0);">2005-2019</strong>
                              ，成都上典比亚迪喜迎历史累计销量突破
                            <strong style="color: rgb(255, 0, 0); font-size: 14px;">3万</strong>
                            台，获比亚迪厂家批准，开展感恩大促活动。
                              </span>
                        </p>
                        <p style="color: #797979; font-size: 1px; line-height: 1.75em;">
                            <span style="color: rgb(0, 0, 0); font-size: 14px;"><br/></span>
                        </p>
                        <p style="color: #797979; font-size: 1px; line-height: 1.75em;">
                         <span style="font-size: 14px; color: rgb(0, 0, 0);">
                           <strong style="font-size: 14px; color: rgb(255, 0, 0);"> 8.10本周六</strong>
                               ，报名购车客户可享受
                                <strong style="color: rgb(255, 0, 0);">十重</strong>
                                好礼，最高可获取价值
                                <strong style="color: rgb(255, 0, 0);">3万元</strong>
                                购车礼，首付低至20%，最高畅享
                                <strong style="color: rgb(255, 0, 0);">36期0利息</strong>
                                ，置换补贴最高
                                <strong style="color: rgb(255, 0, 0);">1万元</strong>。
                            </span>
                        </p>
                        <p style="color: #797979; font-size: 1px; line-height: 1.75em;">
                            <span style="font-size: 14px; color: rgb(0, 0, 0);"><br/></span>
                        </p>
                        <p style="color: #797979; font-size: 1px; line-height: 1.75em;">
                            <strong style="color: rgb(255, 0, 0); font-size: 16px;"><span style="font-size: 14px;">#3万有“礼” 感恩大促—8·10超级团购会#</span></strong>
                        </p>
                        <p style="color: #797979; font-size: 1px; line-height: 1.75em;">
                            <strong style="color: rgb(255, 0, 0); font-size: 16px;"><span style="font-size: 14px;"><br/></span></strong>
                        </p>
                        <p style="color: rgb(121, 121, 121); line-height: 1.75em;">
                            <span style="color: rgb(255, 0, 0);"><strong><span style="font-size: 14px;">活动时间</span></strong></span>
                            <span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 14px;">：2019.8.10 &nbsp;本周六</span></strong></span>
                        </p>
                        <p style="color: rgb(121, 121, 121); line-height: 1.75em;">
                            <span style="color: rgb(255, 0, 0);"><strong><span style="font-size: 14px;">活动地点</span></strong></span><span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 14px;">：成都上典比亚迪4S店</span></strong></span>
                        </p>
                        <p style="line-height: 1.75em;">
                            <span style="font-size: 14px; color: rgb(255, 0, 0);"><strong>报名方式</strong></span><span style="font-size: 14px;"><strong>：<span style="font-size: 14px; color: rgb(0, 0, 0);">通过本链接在线免费报名</span></strong></span>
                        </p>
                        <p style="line-height: 1.75em;">
                            <span style="font-size: 14px; color: rgb(255, 0, 0);"><strong>报名热线</strong></span><span style="font-size: 14px;"><strong>：<span style="font-size: 14px; color: rgb(0, 0, 0);">028-85023023</span></strong></span>
                        </p>
                        <p style="line-height: 1.75em;">
                            <span style="font-size: 14px; color: rgb(255, 0, 0);"><strong>报名截止时间</strong></span><span style="font-size: 14px;"><strong>：<span style="font-size: 14px; color: rgb(0, 0, 0);">2019.8.10 8:00</span></strong></span>
                        </p>
                    </section>
                    <section style="width: 6em; float: left; border-bottom: 0.4em solid #d82821; border-top-color: #d82821; border-right-color: #d82821; border-left-color: #d82821;"></section>
                    <section style="width: 6em; float: right; border-bottom: 0.4em solid #d82821; border-top-color: #d82821; border-right-color: #d82821; border-left-color: #d82821;"></section>
                </section>
            </section>
            <section class="_editor" data-support="96编辑器" data-style-id="24739" data-color="rgb(216, 40, 33)">
                <section style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
                    <section style="display:inline-block;">
                        <section style="display: flex;justify-content:center;align-items: center;">
                            <section style="display:inline-block;background-color:#cfcfcf;">
                                <section style="margin: -3px 3px 3px -3px; background-color: rgb(216, 40, 33); padding-right: 8px; padding-left: 8px; color: rgb(255, 255, 255);">
                                    <p style="letter-spacing: 2px;">
                                        <br/>
                                    </p>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="_editor" data-support="96编辑器" data-style-id="24739" data-color="rgb(89, 195, 249)">
        <section style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
            <section style="display:inline-block;">
                <section style="display: flex;justify-content:center;align-items: center;">
                    <section style="display:inline-block;background-color:#cfcfcf;">
                        <section style="margin: -3px 3px 3px -3px; background-color: rgb(89, 195, 249); padding-right: 8px; padding-left: 8px; color: rgb(255, 255, 255);">
                            <p style="letter-spacing: 2px;">
                                <span style="color: rgb(0, 0, 0);">1</span>
                                <mpchecktext id="1564016648330_0.5343443504424705"></mpchecktext>
                            </p>
                        </section>
                    </section>
                    <section style="width:25px;height:2px;background-color:#cfcfcf;"></section>
                    <section style="background-color: rgb(89, 195, 249); padding-right: 12px; padding-left: 12px; color: rgb(255, 255, 255);">
                        <p style="letter-spacing: 2px; text-align: right;">
                            <strong><span style="color: rgb(0, 0, 0);">无门槛报名礼</span></strong>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="_editor" data-support="96编辑器" data-style-id="24446" data-color="rgb(89, 195, 249)">
        <section style="margin:10px 5px;">
            <section style="border: 1px dashed rgb(89, 195, 249); margin: 0px;">
                <section style="background-color: rgb(89, 195, 249); padding: 16px 14px; transform: translate(6px, 6px); color: rgb(255, 255, 255);">
                    <section style="letter-spacing: 1px; line-height: 24px; text-align: justify;">
                        <p style="font-size: 14px; padding: 0px; margin-top: 0px; margin-bottom: 0px; text-align: center;">
                            <span style="font-size: 14px;"><strong><span style="color: rgb(0, 0, 0);">在线免费报名，锁定活动名额，享受活动当天所有活动政策；</span></strong></span>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="_editor" data-support="96编辑器" data-style-id="24739" data-color="rgb(89, 195, 249)">
        <section style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
            <section style="display:inline-block;">
                <section style="display: flex;justify-content:center;align-items: center;">
                    <section style="display:inline-block;background-color:#cfcfcf;">
                        <section style="margin: -3px 3px 3px -3px; background-color: rgb(89, 195, 249); padding-right: 8px; padding-left: 8px; color: rgb(255, 255, 255);">
                            <p style="letter-spacing: 2px;">
                                <strong><span style="color: rgb(0, 0, 0);">2</span></strong>
                                <mpchecktext id="1564016648330_0.5343443504424705"></mpchecktext>
                            </p>
                        </section>
                    </section>
                    <section style="width:25px;height:2px;background-color:#cfcfcf;"></section>
                    <section style="background-color: rgb(89, 195, 249); padding-right: 12px; padding-left: 12px; color: rgb(255, 255, 255);">
                        <p style="letter-spacing: 2px; text-align: right;">
                            <strong><span style="color: rgb(0, 0, 0);">签到礼</span></strong>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="_editor" data-support="96编辑器" data-style-id="24446" data-color="rgb(89, 195, 249)">
        <section style="margin:10px 5px;">
            <section style="border: 1px dashed rgb(89, 195, 249); margin: 0px;">
                <section style="background-color: rgb(89, 195, 249); padding: 16px 14px; transform: translate(6px, 6px); color: rgb(255, 255, 255);">
                    <section style="letter-spacing: 1px; line-height: 24px; text-align: justify;">
                        <p style="font-size: 14px; padding: 0px; margin-top: 0px; margin-bottom: 0px; text-align: center;">
                            <span style="color: rgb(0, 0, 0); font-size: 14px;"><strong><span style="color: rgb(0, 0, 0);">凭报名截图到店签到，即可领取便携式USB充电小风扇1个；</span></strong></span>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="_editor" data-support="96编辑器" data-style-id="24739" data-color="rgb(89, 195, 249)">
        <section style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
            <section style="display:inline-block;">
                <section style="display: flex;justify-content:center;align-items: center;">
                    <section style="display:inline-block;background-color:#cfcfcf;">
                        <section style="margin: -3px 3px 3px -3px; background-color: rgb(89, 195, 249); padding-right: 8px; padding-left: 8px; color: rgb(255, 255, 255);">
                            <strong><span style="letter-spacing: 2px; color: rgb(0, 0, 0);">3</span></strong>
                        </section>
                    </section>
                    <section style="width:25px;height:2px;background-color:#cfcfcf;"></section>
                    <section style="background-color: rgb(89, 195, 249); padding-right: 12px; padding-left: 12px; color: rgb(255, 255, 255);">
                        <p style="letter-spacing: 2px; text-align: right;">
                            <strong><span style="color: rgb(0, 0, 0);">到场抽奖礼</span></strong>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="_editor" data-support="96编辑器" data-style-id="24446" data-color="rgb(89, 195, 249)">
        <section style="margin:10px 5px;">
            <section style="border: 1px dashed rgb(89, 195, 249); margin: 0px;">
                <section style="background-color: rgb(89, 195, 249); padding: 16px 14px; transform: translate(6px, 6px); color: rgb(255, 255, 255);">
                    <section style="letter-spacing: 1px; line-height: 24px; text-align: justify;">
                        <p style="font-size: 14px; padding: 0px; margin-top: 0px; margin-bottom: 0px; text-align: left;">
                            <span style="font-size: 14px;"><strong><span style="color: rgb(0, 0, 0);">成功报名，活动当天到场即可参与抽奖，抽取最高<span style="font-size: 14px; color: rgb(255, 0, 0);">1000元</span>商业险抵扣券/1年2万公里免费保养/燃油车1年延保等多重超级好礼；</span></strong></span>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <p style="text-align: center;">
        <img src="https://7-imgpub.51huanche.com/ueditor/images/1158627448263413760.jpg-normal" style="width: 100%;display: block;"  alt="一年延保.jpg"/>
    </p>
    <section class="_editor" data-support="96编辑器" data-style-id="24739" data-color="rgb(89, 195, 249)">
        <section style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
            <section style="display:inline-block;">
                <section style="display: flex;justify-content:center;align-items: center;">
                    <section style="display:inline-block;background-color:#cfcfcf;">
                        <section style="margin: -3px 3px 3px -3px; background-color: rgb(89, 195, 249); padding-right: 8px; padding-left: 8px; color: rgb(255, 255, 255);">
                            <span style="color: rgb(0, 0, 0);"><strong><span style="letter-spacing: 2px;">4</span></strong></span>
                        </section>
                    </section>
                    <section style="width:25px;height:2px;background-color:#cfcfcf;"></section>
                    <section style="background-color: rgb(89, 195, 249); padding-right: 12px; padding-left: 12px; color: rgb(255, 255, 255);">
                        <p style="letter-spacing: 2px; text-align: right;">
                            <span style="color: rgb(0, 0, 0);"><strong>抢先特权礼</strong></span>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="_editor" data-support="96编辑器" data-style-id="24446" data-color="rgb(89, 195, 249)">
        <section style="margin:10px 5px;">
            <section style="border: 1px dashed rgb(89, 195, 249); margin: 0px;">
                <section style="background-color: rgb(89, 195, 249); padding: 16px 14px; transform: translate(6px, 6px); color: rgb(255, 255, 255);">
                    <section style="letter-spacing: 1px; line-height: 24px; text-align: justify;">
                        <p style="font-size: 14px; padding: 0px; margin-top: 0px; margin-bottom: 0px; text-align: left;">
                            <strong><span style="color: rgb(0, 0, 0);">活动报名期间，前<span style="font-size: 16px; color: rgb(255, 0, 0);">10位</span>报名客户，交100元诚意金，可享以下特权：</span></strong>
                        </p>
                        <p style="font-size: 14px; padding: 0px; margin-top: 0px; margin-bottom: 0px; text-align: left;">
                            <strong><span style="color: rgb(0, 0, 0);">①<span style="font-size: 14px; letter-spacing: 1px; background-color: rgb(89, 195, 249); color: rgb(0, 0, 0);">成功购车</span>首年交强险全免；</span></strong>
                        </p>
                        <p style="font-size: 14px; padding: 0px; margin-top: 0px; margin-bottom: 0px; text-align: left;">
                            <strong><span style="color: rgb(0, 0, 0);">②<span style="font-size: 14px; letter-spacing: 1px; background-color: rgb(89, 195, 249); color: rgb(0, 0, 0);">成功购车</span>额外赠送<span style="color: rgb(255, 0, 0);">100元油卡</span>；</span></strong>
                        </p>
                        <p style="font-size: 14px; padding: 0px; margin-top: 0px; margin-bottom: 0px; text-align: left;">
                            <strong><span style="color: rgb(0, 0, 0);">③未订车诚意金可退；</span></strong>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="_editor" data-support="96编辑器" data-style-id="24739" data-color="rgb(89, 195, 249)">
        <section style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
            <section style="display:inline-block;">
                <section style="display: flex;justify-content:center;align-items: center;">
                    <section style="display:inline-block;background-color:#cfcfcf;">
                        <section style="margin: -3px 3px 3px -3px; background-color: rgb(89, 195, 249); padding-right: 8px; padding-left: 8px; color: rgb(255, 255, 255);">
                            <p style="letter-spacing: 2px;">
                                <strong><span style="color: rgb(0, 0, 0);">5</span></strong>
                                <mpchecktext id="1564016648330_0.5343443504424705"></mpchecktext>
                            </p>
                        </section>
                    </section>
                    <section style="width:25px;height:2px;background-color:#cfcfcf;"></section>
                    <section style="background-color: rgb(89, 195, 249); padding-right: 12px; padding-left: 12px; color: rgb(255, 255, 255);">
                        <p style="letter-spacing: 2px; text-align: right;">
                            <strong><span style="color: rgb(0, 0, 0);">订车抽奖礼</span></strong>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="_editor" data-support="96编辑器" data-style-id="24446" data-color="rgb(89, 195, 249)">
        <section style="margin:10px 5px;">
            <section style="border: 1px dashed rgb(89, 195, 249); margin: 0px;">
                <section style="background-color: rgb(89, 195, 249); padding: 16px 14px; transform: translate(6px, 6px); color: rgb(255, 255, 255);">
                    <section style="letter-spacing: 1px; line-height: 24px; text-align: justify;">
                        <p style="font-size: 14px; padding: 0px; margin-top: 0px; margin-bottom: 0px; text-align: center;">
                            <strong><span style="color: rgb(0, 0, 0);">活动当天订车，可参与现场抽奖，赢取动感单车等家电好礼，<span style="color: rgb(255, 0, 0);">100%中奖</span>；</span></strong>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <p>
        <img src="https://7-imgpub.51huanche.com/ueditor/images/1158629376129110016.jpg-normal" style="width: 100%;display: block;"  alt="礼品堆头1.jpg"/>
    </p>
    <section class="_editor" data-support="96编辑器" data-style-id="24739" data-color="rgb(89, 195, 249)">
        <section style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
            <section style="display:inline-block;">
                <section style="display: flex;justify-content:center;align-items: center;">
                    <section style="display:inline-block;background-color:#cfcfcf;">
                        <section style="margin: -3px 3px 3px -3px; background-color: rgb(89, 195, 249); padding-right: 8px; padding-left: 8px;">
                            <span style="letter-spacing: 2px; color: rgb(38, 38, 38);"><strong>6</strong></span>
                        </section>
                    </section>
                    <section style="width:25px;height:2px;background-color:#cfcfcf;"></section>
                    <section style="background-color: rgb(89, 195, 249); padding-right: 12px; padding-left: 12px; color: rgb(255, 255, 255);">
                        <p style="letter-spacing: 2px; text-align: right;">
                            <strong><span style="color: rgb(0, 0, 0);">抢先订车礼</span></strong>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="_editor" data-support="96编辑器" data-style-id="24446" data-color="rgb(89, 195, 249)">
        <section style="margin:10px 5px;">
            <section style="border: 1px dashed rgb(89, 195, 249); margin: 0px;">
                <section style="background-color: rgb(89, 195, 249); padding: 16px 14px; transform: translate(6px, 6px); color: rgb(255, 255, 255);">
                    <section style="letter-spacing: 1px; line-height: 24px; text-align: justify;">
                        <p style="font-size: 14px; padding: 0px; margin-top: 0px; margin-bottom: 0px; text-align: center;">
                            <strong><span style="color: rgb(0, 0, 0);">活动当天前10位订车客户，可领取订车礼价值<span style="color: rgb(255, 0, 0);"></span></span></strong><strong><span style="color: rgb(0, 0, 0);"><span style="color: rgb(255, 0, 0);">119元</span></span></strong><strong><span style="color: rgb(0, 0, 0);"><span style="color: rgb(255, 0, 0);"></span>精品夏凉被1套；</span></strong>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="_editor" data-support="96编辑器" data-style-id="24739" data-color="rgb(89, 195, 249)">
        <section style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
            <section style="display:inline-block;">
                <section style="display: flex;justify-content:center;align-items: center;">
                    <section style="display:inline-block;background-color:#cfcfcf;">
                        <section style="margin: -3px 3px 3px -3px; background-color: rgb(89, 195, 249); padding-right: 8px; padding-left: 8px; color: rgb(255, 255, 255);">
                            <p style="letter-spacing: 2px;">
                                <strong><span style="color: rgb(0, 0, 0);">7</span></strong>
                                <mpchecktext id="1564016648330_0.5343443504424705"></mpchecktext>
                            </p>
                        </section>
                    </section>
                    <section style="width:25px;height:2px;background-color:#cfcfcf;"></section>
                    <section style="background-color: rgb(89, 195, 249); padding-right: 12px; padding-left: 12px; color: rgb(255, 255, 255);">
                        <p style="letter-spacing: 2px; text-align: right;">
                            <strong><span style="color: rgb(0, 0, 0);">感恩焕新礼</span></strong>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="_editor" data-support="96编辑器" data-style-id="24446" data-color="rgb(89, 195, 249)">
        <section style="margin:10px 5px;">
            <section style="border: 1px dashed rgb(89, 195, 249); margin: 0px;">
                <section style="background-color: rgb(89, 195, 249); padding: 16px 14px; transform: translate(6px, 6px); color: rgb(255, 255, 255);">
                    <section style="letter-spacing: 1px; line-height: 24px; text-align: justify;">
                        <p style="font-size: 14px; padding: 0px; margin-top: 0px; margin-bottom: 0px; text-align: left;">
                            <strong><span style="color: rgb(0, 0, 0);">活动当天，成功置换宋Pro,可获最高<span style="color: rgb(255, 0, 0);">1万元</span>置换补贴，并赠送价值<span style="color: rgb(255, 0, 0);">1188元</span>感恩精品置换礼包；</span></strong>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="_editor" data-support="96编辑器" data-style-id="24739" data-color="rgb(89, 195, 249)">
        <section style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
            <section style="display:inline-block;">
                <section style="display: flex;justify-content:center;align-items: center;">
                    <section style="display:inline-block;background-color:#cfcfcf;">
                        <section style="margin: -3px 3px 3px -3px; background-color: rgb(89, 195, 249); padding-right: 8px; padding-left: 8px; color: rgb(255, 255, 255);">
                            <p style="letter-spacing: 2px;">
                                <strong><span style="color: rgb(0, 0, 0);">8</span></strong>
                                <mpchecktext id="1564016648330_0.5343443504424705"></mpchecktext>
                            </p>
                        </section>
                    </section>
                    <section style="width:25px;height:2px;background-color:#cfcfcf;"></section>
                    <section style="background-color: rgb(89, 195, 249); padding-right: 12px; padding-left: 12px; color: rgb(255, 255, 255);">
                        <p style="letter-spacing: 2px; text-align: right;">
                            <strong><span style="color: rgb(0, 0, 0);">宋Pro专属订车礼</span></strong>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="_editor" data-support="96编辑器" data-style-id="24446" data-color="rgb(89, 195, 249)">
        <section style="margin:10px 5px;">
            <section style="border: 1px dashed rgb(89, 195, 249); margin: 0px;">
                <section style="background-color: rgb(89, 195, 249); padding: 16px 14px; transform: translate(6px, 6px); color: rgb(255, 255, 255);">
                    <section style="letter-spacing: 1px; line-height: 24px; text-align: justify;">
                        <p style="font-size: 14px; padding: 0px; margin-top: 0px; margin-bottom: 0px; text-align: left;">
                            <strong><span style="color: rgb(0, 0, 0);">活动当天订购宋Pro,并于9.30前完成提车及迪粉汇车主认证，即可获赠价值<span style="color: rgb(255, 0, 0);">499元</span>比亚迪原厂K歌麦克风1个；</span></strong>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="_editor" data-support="96编辑器" data-style-id="24739" data-color="rgb(89, 195, 249)">
        <section style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
            <section style="display:inline-block;">
                <section style="display: flex;justify-content:center;align-items: center;">
                    <section style="display:inline-block;background-color:#cfcfcf;">
                        <section style="margin: -3px 3px 3px -3px; background-color: rgb(89, 195, 249); padding-right: 8px; padding-left: 8px; color: rgb(255, 255, 255);">
                            <p style="letter-spacing: 2px;">
                                <strong><span style="color: rgb(0, 0, 0);">9</span></strong>
                                <mpchecktext id="1564016648330_0.5343443504424705"></mpchecktext>
                            </p>
                        </section>
                    </section>
                    <section style="width:25px;height:2px;background-color:#cfcfcf;"></section>
                    <section style="background-color: rgb(89, 195, 249); padding-right: 12px; padding-left: 12px; color: rgb(255, 255, 255);">
                        <p style="letter-spacing: 2px; text-align: right;">
                            <strong><span style="color: rgb(0, 0, 0);">金融贴息礼</span></strong>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="_editor" data-support="96编辑器" data-style-id="24446" data-color="rgb(89, 195, 249)">
        <section style="margin:10px 5px;">
            <section style="border: 1px dashed rgb(89, 195, 249); margin: 0px;">
                <section style="background-color: rgb(89, 195, 249); padding: 16px 14px; transform: translate(6px, 6px); color: rgb(255, 255, 255);">
                    <section style="letter-spacing: 1px; line-height: 24px; text-align: justify;">
                        <p style="font-size: 14px; padding: 0px; margin-top: 0px; margin-bottom: 0px; text-align: center;">
                            <strong><span style="color: rgb(0, 0, 0);">全系车型享最低20%首付，或最高36期0利息，轻松购车“<span style="font-size: 14px; letter-spacing: 1px; background-color: rgb(89, 195, 249);">一键贷</span>”；</span></strong>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="_editor" data-support="96编辑器" data-style-id="24739" data-color="rgb(89, 195, 249)">
        <section style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
            <section style="display:inline-block;">
                <section style="display: flex;justify-content:center;align-items: center;">
                    <section style="display:inline-block;background-color:#cfcfcf;">
                        <section style="margin: -3px 3px 3px -3px; background-color: rgb(89, 195, 249); padding-right: 8px; padding-left: 8px; color: rgb(255, 255, 255);">
                            <p style="letter-spacing: 2px;">
                                <strong><span style="color: rgb(0, 0, 0);">10</span></strong>
                                <mpchecktext id="1564016648330_0.5343443504424705"></mpchecktext>
                            </p>
                        </section>
                    </section>
                    <section style="width:25px;height:2px;background-color:#cfcfcf;"></section>
                    <section style="background-color: rgb(89, 195, 249); padding-right: 12px; padding-left: 12px; color: rgb(255, 255, 255);">
                        <p style="letter-spacing: 2px; text-align: right;">
                            <strong><span style="color: rgb(0, 0, 0);">互动游戏礼</span></strong>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="_editor" data-support="96编辑器" data-style-id="24446" data-color="rgb(89, 195, 249)">
        <section style="margin:10px 5px;">
            <section style="border: 1px dashed rgb(89, 195, 249); margin: 0px;">
                <section style="background-color: rgb(89, 195, 249); padding: 16px 14px; transform: translate(6px, 6px); color: rgb(255, 255, 255);">
                    <section style="letter-spacing: 1px; line-height: 24px; text-align: justify;">
                        <p style="font-size: 14px; padding: 0px; margin-top: 0px; margin-bottom: 0px; text-align: center;">
                            <strong><span style="color: rgb(0, 0, 0);">活动现场参与宋Pro车型知识问答、移动K歌等互动游戏，还可赢取精美礼品；</span></strong>
                        </p>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>

</body>
</html>