<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="wap-font-scale" content="no"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        *, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .row {
            padding: 0;
            margin: 0;
        }

        html, body {
            font-size: 16px;
            font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "SimSun";
            -webkit-text-size-adjust: none;
        }

        body {
            margin: 0 auto;
            position: relative;
        }

        .scrollDiv {
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        @media only screen and (min-width: 400px) and (max-width: 420px) {
            html {
                font-size: 15.5px;
            }
        }

        @media only screen and (min-width: 380px) and (max-width: 400px) {
            html {
                font-size: 15px;
            }
        }

        @media only screen and (min-width: 360px) and (max-width: 380px) {
            html {
                font-size: 14px;
            }
        }

        @media only screen and (min-width: 340px) and (max-width: 360px) {
            html {
                font-size: 13px;
            }
        }

        @media only screen and (min-width: 320px) and (max-width: 340px) {
            html {
                font-size: 12px;
            }
        }

        @media only screen and (min-width: 420px) {
            html {
                font-size: 16.5px;
            }
        }
    </style>
</head>
<body>

<section class="scrollDiv" style="box-sizing: border-box; position: relative; min-width: 320px; letter-spacing: 0px; margin: 0px auto; max-width: 500px !important;">
    <!--<section style="width: 4.1rem;height: 4.5rem;position: absolute;right: 10px;top: 0;z-index: 2"><img style="display: block;width: 100%;height: 100%;" src="https://res.51huanche.com/images/paiban/logo_holder.png"/></section>-->
    <section style="overflow: hidden; background: rgb(255, 255, 255);">
        <section style="font-size: 1rem; overflow: hidden; position: relative; color: rgb(255, 255, 204);">
            <img src="https://7-imgpub.51huanche.com/ueditor/images/1150683122669588480.jpg-normal" style="width: 100%;display: block;" title="undefined" alt="主KV小.jpg"/>
        </section>
        <section style="position: relative;">
            <p class="part_title" style="font-size: 1.75rem; font-weight: 600; text-align: center; margin: 1rem auto 0px; width: 100%;">
                <span style="font-size: 20px;"><span style="color: rgb(186, 24, 35);">全球品智大五座SUV</span><span style="color: rgb(0, 0, 0);">&nbsp;宋Pro赞放上市</span></span>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <span style="font-size: 14px;">大轴距大空间</span>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <span style="font-size: 14px;">Dragon Face2.0国际大师打造最美颜值</span>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <span style="font-size: 14px;">奢华科技内饰</span>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <span style="font-size: 14px;">1.5Ti黄金动力组合</span>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <span style="font-size: 14px;">超L2级辅助驾驶功能</span>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <span style="font-size: 14px;">第三代DM技术</span>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <span style="font-size: 14px;">百公里加速4.7S</span>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <span style="font-size: 14px;">超长续航里程...</span>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <span style="font-size: 14px;">一连串的技术标签展现的是宋Pro的硬实力</span>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <span style="color: rgb(0, 0, 0);"><strong><span style="font-size: 14px;">宋Pro的上市</span></strong></span>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <strong><span style="font-size: 14px; color: rgb(255, 0, 0);">宣告一个“Pro”时代的来临</span></strong>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%;">
                <span style="font-size: 14px;"><img src="https://7-imgpub.51huanche.com/ueditor/images/1150687532439179264.jpg-normal" style="max-width:100%;height:auto;" alt="_MG_7438.jpg"/></span>
            </p>
            <section class="_editor" data-support="96编辑器" data-style-id="24559" data-color="rgb(216, 40, 33)">
                <section style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
                    <section style="display:inline-block;">
                        <section style="display: flex;justify-content:center;align-items: center;">
                            <section>
                                <section style="margin-left: auto; margin-top: 3px; margin-bottom: 3px; width: 10px; height: 2px; background-color: #d82821; color: #ffffff;"></section>
                                <section style="width: 15px; height: 2px; background-color: #d82821; color: #ffffff;"></section>
                            </section>
                            <section style="border:1px #d82821 solid;padding: 5px 0px;">
                                <section style="background-color: #d82821; padding: 0px 15px; color: #ffffff;">
                                    <p style="letter-spacing:2px;">
                                        <strong>宋Pro燃油版</strong>
                                    </p>
                                    <p style="letter-spacing:2px;">
                                        <strong><span style="font-size: 14px;">8.98-11.98万元</span></strong>
                                    </p>
                                </section>
                            </section>
                            <section style="display: flex;justify-content:center;align-items: center;">
                                <section>
                                    <section style="width: 15px; height: 2px; background-color: #d82821; color: #ffffff;"></section>
                                    <section style="margin-top: 3px; margin-bottom: 3px; width: 10px; height: 2px; background-color: #d82821; color: #ffffff;"></section>
                                    <section style="width: 15px; height: 2px; background-color: #d82821; color: #ffffff;"></section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%;">
                <span style="font-size: 14px;"></span><img src="https://7-imgpub.51huanche.com/ueditor/images/1150687754544353280.jpg-normal" style="max-width:100%;height:auto;" alt="2561557309336_.pic_hd.jpg"/>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%;">
                <span style="font-size: 14px;"></span>
            </p>
            <section class="_editor" data-support="96编辑器" data-style-id="24559" data-color="rgb(216, 40, 33)">
                <section style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
                    <section style="display:inline-block;">
                        <section style="display: flex;justify-content:center;align-items: center;">
                            <section>
                                <section style="width: 15px; height: 2px; background-color: #d82821; color: #ffffff;"></section>
                                <section style="margin-left: auto; margin-top: 3px; margin-bottom: 3px; width: 10px; height: 2px; background-color: #d82821; color: #ffffff;"></section>
                                <section style="width: 15px; height: 2px; background-color: #d82821; color: #ffffff;"></section>
                            </section>
                            <section style="border-style: solid; border-width: 1px; border-color: #d82821; padding: 5px 0px;">
                                <section style="background-color: #d82821; padding: 0px 15px; color: #ffffff;">
                                    <p style="letter-spacing:2px;">
                                        <strong>宋ProDM版</strong>
                                    </p>
                                    <p style="letter-spacing:2px;">
                                        <strong><span style="font-size: 14px;">16.98-21.98万元</span></strong>
                                    </p>
                                </section>
                            </section>
                            <section style="display: flex;justify-content:center;align-items: center;">
                                <section>
                                    <section style="width: 15px; height: 2px; background-color: #d82821; color: #ffffff;"></section>
                                    <section style="margin-top: 3px; margin-bottom: 3px; width: 10px; height: 2px; background-color: #d82821; color: #ffffff;"></section>
                                    <section style="width: 15px; height: 2px; background-color: #d82821; color: #ffffff;"></section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%;">
                <span style="font-size: 14px;"></span><img src="https://7-imgpub.51huanche.com/ueditor/images/1150687982953566208.jpg-normal" style="max-width:100%;height:auto;" alt="_42A6313.jpg"/>
            </p>
            <section class="_editor" data-support="96编辑器" data-style-id="24559" data-color="rgb(216, 40, 33)">
                <section style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
                    <section style="display:inline-block;">
                        <section style="display: flex;justify-content:center;align-items: center;">
                            <section>
                                <section style="width: 15px; height: 2px; background-color: #d82821; color: #ffffff;"></section>
                                <section style="margin-left: auto; margin-top: 3px; margin-bottom: 3px; width: 10px; height: 2px; background-color: #d82821; color: #ffffff;"></section>
                                <section style="width: 15px; height: 2px; background-color: #d82821; color: #ffffff;"></section>
                            </section>
                            <section style="border-style: solid; border-width: 1px; border-color: #d82821; padding: 5px 0px;">
                                <section style="background-color: #d82821; padding: 0px 15px; color: #ffffff;">
                                    <p style="letter-spacing:2px;">
                                        <strong>宋Pro纯电版</strong>
                                    </p>
                                    <p style="letter-spacing:2px;">
                                        <strong><span style="font-size: 14px;">17.98-21.98万元</span></strong>
                                    </p>
                                </section>
                            </section>
                            <section style="display: flex;justify-content:center;align-items: center;">
                                <section>
                                    <section style="width: 15px; height: 2px; background-color: #d82821; color: #ffffff;"></section>
                                    <section style="margin-top: 3px; margin-bottom: 3px; width: 10px; height: 2px; background-color: #d82821; color: #ffffff;"></section>
                                    <section style="width: 15px; height: 2px; background-color: #d82821; color: #ffffff;"></section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%;">
                <img src="https://7-imgpub.51huanche.com/ueditor/images/1150688288173068288.jpg-normal" style="max-width:100%;height:auto;" alt="DSC_0713.jpg"/>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <span style="font-size: 14px;">三个动力版本、三种外观设计</span>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <span style="font-size: 14px;">设计用心，值得点赞</span>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <span style="font-size: 14px;">无论，你心仪哪一款</span>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <strong><span style="font-size: 14px; color: rgb(255, 0, 0);">2019.7.20 星期六</span></strong>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <strong><span style="font-size: 14px; color: rgb(255, 0, 0);">宋Pro全球品智赞放日@成都上典专场团购会</span></strong>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <span style="font-size: 14px;">给你一个选择的机会</span>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <span style="font-size: 14px;">一个全新、舒适的购车体验</span>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <span style="font-size: 14px;">畅享宋Pro上市多重权益及活动十重好礼</span>
            </p>
            <p class="part_title" style="font-weight: 600; margin: 1rem auto 0px; width: 100%; text-align: center;">
                <span style="font-size: 14px;">恭迎莅临</span>
            </p>
        </section>
        <section style="overflow: hidden; position: relative; background: rgb(255, 255, 255);">
            <section style="font-size: 1rem; position: relative;">
                <p class="part_title" style="font-size: 1.125rem;font-weight:600;width:8rem;color: #fff;text-align: center;margin: 1rem auto 0;background:#b2151e;border-radius: 15px;">
                    活动十重好礼
                </p>
            </section>
            <section style="padding: 0rem 1.5rem; box-sizing: border-box; overflow: hidden;">
                <section class="act_item" style="background: rgb(255, 255, 255); margin: 0px auto; text-align: center; padding: 0px; min-height: 5rem; position: relative;">
                    <section style="">
                        <section class="act_name" style="font-size: 1rem; margin: 1rem auto;  text-align: center; color: rgb(1, 1, 1); padding: 0.2rem 0px; border-bottom: 2px dashed rgb(178, 24, 34);">
                            <span style="position:relative;background:#000;border-radius: 50%;width: 1.2rem;height: 1.2rem;line-height: 1.1rem;display: inline-block;bottom: -0.15rem;"> <span style="position: absolute;left:0;right:0;margin:auto;height: 1.2rem;line-height: 1.2rem;color: #fff;font-size: .5rem;font-weight: 700;text-align: center;">1</span> </span> <span style="font-size: 18px;"><span style="letter-spacing: 0px; font-weight: 600;">&nbsp;无门槛报名礼</span></span>
                        </section>
                        <section class="act_desc" style="font-size: 1.125rem; text-align: center; margin: 0px; color: rgb(1, 1, 1);">
                            <span style="font-size: 14px;">在线报名</span>
                        </section>
                        <p style="text-align: center; color: rgb(175, 21, 29); margin: 0px; font-weight: 600;">
                            <span style="font-size: 14px;">锁定活动名额</span>
                        </p>
                        <p style="color: rgb(175, 21, 29); margin: 0px; font-weight: 600;">
                            <span style="font-size: 14px;">享受活动当天新车型宋Pro上市权益</span>
                        </p>
                        <p style="color: rgb(175, 21, 29); margin: 0px; font-weight: 600;">
                            <span style="font-size: 14px;">及国五车型超低优惠等多重购车政策</span>
                        </p>
                    </section>
                </section>
                <section class="act_item" style="background: rgb(255, 255, 255); margin: 0px auto; text-align: center; padding: 0px; min-height: 5rem; position: relative;">
                    <section>
                        <section class="act_name" style="font-size: 1rem; margin: 1rem auto;  text-align: center; color: rgb(1, 1, 1); padding: 0.2rem 0px; border-bottom: 2px dashed rgb(178, 24, 34);">
                            <span style="position:relative;background:#000;border-radius: 50%;width: 1.2rem;height: 1.2rem;line-height: 1.1rem;display: inline-block;bottom: -0.15rem;"> <span style="position: absolute;left:0;right:0;margin:auto;height: 1.2rem;line-height: 1.2rem;color: #fff;font-size: .5rem;font-weight: 700;text-align: center;">2</span> </span>&nbsp;<span style="font-size: 1.1rem;font-weight: 600;">到场抽奖礼</span>
                        </section>
                        <p style="text-align: center; margin: 0px; color: rgb(1, 1, 1);">
                            <span style="font-size: 14px;">活动当天</span>
                        </p>
                        <p style="margin: 0px; color: rgb(1, 1, 1);">
                            <span style="font-size: 14px;">从所有报名客户中</span>
                        </p>
                        <p style="font-size: 1.25rem; text-align: center; color: rgb(175, 21, 29); margin: 0px; font-weight: 600;">
                            <span style="font-size: 14px;">抽出<span style="font-size: 16px; color: rgb(255, 0, 0);">3名</span>幸运客户</span>
                        </p>
                        <p style="font-size: 1.25rem; color: rgb(175, 21, 29); margin: 0px; font-weight: 600;">
                            <span style="font-size: 14px;">抽取最高<span style="font-size: 16px; color: rgb(255, 0, 0);">3年</span>免费保养</span><br/>
                        </p>
                    </section>
                </section>
                <section class="act_item" style="font-size: 1rem; background: rgb(255, 255, 255); margin: 0px auto; text-align: center; padding: 0px; min-height: 5rem; position: relative;">
                    <section>
                        <section class="act_name" style="margin:1rem auto;text-align: center;color: #010101;padding:.2rem 0; border-bottom:#b21822 2px dashed;">
                            <span style="position:relative;background:#000;border-radius: 50%;width: 1.2rem;height: 1.2rem;line-height: 1.1rem;display: inline-block;bottom: -0.15rem;"> <span style="position: absolute;left:0;right:0;margin:auto;height: 1.2rem;line-height: 1.2rem;color: #fff;font-size: .5rem;font-weight: 700;text-align: center;">3</span> </span>&nbsp;<span style="font-size: 1.1rem;font-weight: 600;">签到礼</span>
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.125rem;margin: 0;color: #010101;">
                            <span style="font-size: 14px;">到店签到</span>
                        </section>
                        <section class="act_title" style="text-align:center;font-size: 1.25rem;color: #af151d;margin: 0;font-weight: 600">
                            <span style="font-size: 14px;">即可领取精品夏凉被1套</span>
                        </section>
                    </section>
                </section>
                <section class="act_item" style="font-size: 1rem; background: rgb(255, 255, 255); margin: 0px auto; text-align: center; padding: 0px; min-height: 5rem; position: relative;">
                    <section>
                        <section class="act_name" style="margin:1rem auto;text-align: center;color: #010101;padding:.2rem 0; border-bottom:#b21822 2px dashed;">
                            <span style="position:relative;background:#000;border-radius: 50%;width: 1.2rem;height: 1.2rem;line-height: 1.1rem;display: inline-block;bottom: -0.15rem;"> <span style="position: absolute;left:0;right:0;margin:auto;height: 1.2rem;line-height: 1.2rem;color: #fff;font-size: .5rem;font-weight: 700;text-align: center;">4</span> </span>&nbsp;<span style="font-size: 1.1rem;font-weight: 600;">“宋”你欢乐礼</span>
                        </section>
                        <p style="text-align:center;font-size: 1.125rem;margin: 0;color: #010101;">
                            <span style="font-size: 14px;">购宋家族-国五宋MAX车型</span>
                        </p>
                        <p style="text-align:center;font-size: 1.25rem;color: #af151d;margin: 0;font-weight: 600">
                            <span style="font-size: 14px;">享国五超低优惠</span>
                        </p>
                        <p style="font-size: 1.25rem; color: rgb(175, 21, 29); margin: 0px; font-weight: 600;">
                            <span style="font-size: 14px;">购宋家族任意车型<br/></span>
                        </p>
                        <p style="font-size: 1.25rem; color: rgb(175, 21, 29); margin: 0px; font-weight: 600;">
                            <span style="font-size: 14px;">还可获赠“狮子王”亲子观影券<span style="color: rgb(255, 0, 0); font-size: 16px;">2</span>张</span>
                        </p>
                        <p style="font-size: 1.25rem; color: rgb(175, 21, 29); margin: 0px; font-weight: 600;">
                            <span style="font-size: 14px;"><img src="https://7-imgpub.51huanche.com/ueditor/images/1150691602629529600.jpg-normal" style="max-width:100%;height:auto;" alt="t01297d10fce7db57d3.jpg"/></span>
                        </p>
                    </section>
                </section>
                <section class="act_item" style="font-size: 1rem; background: rgb(255, 255, 255); margin: 0px auto; text-align: center; padding: 0px; min-height: 5rem; position: relative;">
                    <section>
                        <section class="act_name" style="margin:1rem auto;text-align: center;color: #010101;padding:.2rem 0; border-bottom:#b21822 2px dashed;">
                            <span style="position:relative;background:#000;border-radius: 50%;width: 1.2rem;height: 1.2rem;line-height: 1.1rem;display: inline-block;bottom: -0.15rem;">
                                <span style="position: absolute;left:0;right:0;margin:auto;height: 1.2rem;line-height: 1.2rem;color: #fff;font-size: .5rem;font-weight: 700;text-align: center;">5</span>
                            </span>&nbsp;
                            <span style="font-size: 1.1rem;font-weight: 600;">循环抽奖礼</span>
                        </section>
                        <section class="act_desc" style="text-align:center;font-size: 1.125rem;margin: 0;color: #010101;">
                            <span style="font-size: 14px;">成功订车</span>
                        </section>
                        <p style="text-align:center;font-size: 1.25rem;color: #af151d;margin: 0;font-weight: 600">
                            <span style="font-size: 14px;">可参与现场多轮循环抽奖</span>
                        </p>
                        <p style="font-size: 1.25rem; color: rgb(175, 21, 29); margin: 0px; font-weight: 600;">
                            <span style="font-size: 14px;">赢取超值大奖</span>
                        </p>
                        <p style="font-size: 1.25rem; color: rgb(175, 21, 29); margin: 0px; font-weight: 600;">
                            <span style="font-size: 14px;"><img src="https://7-imgpub.51huanche.com/ueditor/images/1150691981102551040.jpg-normal" alt="礼品堆头1.jpg"/></span>
                        </p>
                        <section class="act_name" style="text-align: center; white-space: normal; background-color: rgb(255, 255, 255); margin: 1rem auto; color: rgb(1, 1, 1); padding: 0.2rem 0px; border-bottom: 2px dashed rgb(178, 24, 34);">
                             <span style="color: rgb(1, 1, 1); text-align: center; background-color: rgb(255, 255, 255);">
                                        <span style="color: rgb(1, 1, 1); text-align: center; position: relative; background: rgb(0, 0, 0); border-radius: 50%; width: 1.2rem; height: 1.2rem; line-height: 1.1rem; display: inline-block; bottom: -0.15rem;">
                                        <span style="position: absolute; left: 0px; right: 0px; margin: auto; height: 1.2rem; line-height: 1.2rem; color: rgb(255, 255, 255); font-size: 0.5rem; font-weight: 700;">6</span>
                                    </span>
                                    </span>
                            <span style="font-size: 1.1rem; font-weight: 600;">Pro抢订礼</span>
                        </section>
                        <section class="act_desc" style="text-align: center; white-space: normal; background-color: rgb(255, 255, 255); font-size: 1.125rem; margin: 0px; color: rgb(1, 1, 1);">
                            <span style="font-size: 14px;">现场前10订车客户</span>
                        </section>
                        <p style="margin-top: 0px; margin-bottom: 0px; text-align: center; white-space: normal; background-color: rgb(255, 255, 255); font-size: 1.25rem; color: rgb(175, 21, 29); font-weight: 600;">
                            <span style="font-size: 14px;">可获赠精美订车礼1份</span>
                        </p>
                        <section class="act_name" style="text-align: center; white-space: normal; background-color: rgb(255, 255, 255); margin: 1rem auto;color: rgb(1, 1, 1); padding: 0.2rem 0px; border-bottom: 2px dashed rgb(178, 24, 34);">
                          <span style="position: relative; background: rgb(0, 0, 0); border-radius: 50%; width: 1.2rem; height: 1.2rem; line-height: 1.1rem; display: inline-block; bottom: -0.15rem;">
                            <span style="position: absolute; left: 0px; right: 0px; margin: auto; height: 1.2rem; line-height: 1.2rem; color: rgb(255, 255, 255); font-size: 0.5rem; font-weight: 700;">7</span>
                          </span>
                            <span style="font-size: 1.1rem; font-weight: 600;">Pro装备礼</span>
                        </section>
                        <section class="act_desc" style="text-align: center; white-space: normal; background-color: rgb(255, 255, 255); font-size: 1.125rem; margin: 0px; color: rgb(1, 1, 1);">
                            <span style="font-size: 14px;">订购宋Pro车型</span>
                        </section>
                        <p>
                            <span style="font-size: 14px;">并于9.30前提车完成迪粉汇认证</span>
                        </p>
                        <p style="margin-top: 0px; margin-bottom: 0px; text-align: center; white-space: normal; background-color: rgb(255, 255, 255); font-size: 1.25rem; color: rgb(175, 21, 29); font-weight: 600;">
                            <span style="font-size: 14px;">可获赠价值499元比亚迪原厂K歌麦克风1个</span>
                        </p>
                        <section class="act_name" style="text-align: center; white-space: normal; background-color: rgb(255, 255, 255); margin: 1rem auto;color: rgb(1, 1, 1); padding: 0.2rem 0px; border-bottom: 2px dashed rgb(178, 24, 34);">
                               <span style="position: relative; background: rgb(0, 0, 0); border-radius: 50%; width: 1.2rem; height: 1.2rem; line-height: 1.1rem; display: inline-block; bottom: -0.15rem;">
                                    <span style="position: absolute; left: 0px; right: 0px; margin: auto; height: 1.2rem; line-height: 1.2rem; color: rgb(255, 255, 255); font-size: 0.5rem; font-weight: 700;">8</span>
                              </span>
                            <span style="color: rgb(1, 1, 1); text-align: center; font-size: 1.1rem; font-weight: 600;">Pro焕新礼</span>
                        </section>
                        <p style="text-align: center; white-space: normal; background-color: rgb(255, 255, 255); font-size: 1.125rem; margin: 0px; color: rgb(1, 1, 1);">
                            <span style="font-size: 14px;">成功置换宋Pro</span>
                        </p>
                        <p style="margin-top: 0px; margin-bottom: 0px; text-align: center; white-space: normal; background-color: rgb(255, 255, 255); font-size: 1.25rem; color: rgb(175, 21, 29); font-weight: 600;">
                            <span style="font-size: 14px;">可最高1万元置换补贴</span>
                        </p>
                        <p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; background-color: rgb(255, 255, 255); font-size: 1.25rem; color: rgb(175, 21, 29); font-weight: 600;">
                            <span style="font-size: 14px;">及价值1699元专属焕新大礼包</span>
                        </p>
                        <section class="act_name" style="text-align: center; white-space: normal; background-color: rgb(255, 255, 255); margin: 1rem auto; color: rgb(1, 1, 1); padding: 0.2rem 0px; border-bottom: 2px dashed rgb(178, 24, 34);">
                            <span style="color: rgb(1, 1, 1); font-size: 17.6px; font-weight: 600; text-align: center; position: relative; background: rgb(0, 0, 0); border-radius: 50%; width: 1.2rem; height: 1.2rem; line-height: 1.1rem; display: inline-block; bottom: -0.15rem;">
                                <span style="position: absolute; left: 0px; right: 0px; margin: auto; height: 1.2rem; line-height: 1.2rem; color: rgb(255, 255, 255); font-size: 0.5rem;">9</span>
                           </span>
                            <span style="color: rgb(1, 1, 1); text-align: center; font-size: 1.1rem; font-weight: 600;"> Pro金融礼</span>
                        </section>
                        <section class="act_desc" style="text-align: center; white-space: normal; background-color: rgb(255, 255, 255); font-size: 1.125rem; margin: 0px; color: rgb(1, 1, 1);">
                            <span style="font-size: 14px;">全系车型</span>
                        </section>
                        <p style="margin-top: 0px; margin-bottom: 0px; text-align: center; white-space: normal; background-color: rgb(255, 255, 255); font-size: 1.25rem; color: rgb(175, 21, 29); font-weight: 600;">
                            <span style="font-size: 14px;">享最低20%首付或最高36期0利息</span>
                        </p>
                        <section class="act_name" style="text-align: center; white-space: normal; background-color: rgb(255, 255, 255); margin: 1rem auto; color: rgb(1, 1, 1); padding: 0.2rem 0px; border-bottom: 2px dashed rgb(178, 24, 34);">

                            <span style="color: rgb(1, 1, 1); font-size:17.6px; font-weight: 600; text-align: center; position: relative; background: rgb(0, 0, 0); border-radius: 50%; width: 1.2rem; height: 1.2rem; line-height: 1.1rem; display: inline-block; bottom: -0.15rem;">
                                <span style="position: absolute; left: 0px; right: 0px; margin: auto; height: 1.2rem; line-height: 1.2rem; color: rgb(255, 255, 255); font-size: 0.5rem;">10</span>
                            </span>
                            <span style="color: rgb(1, 1, 1); font-size: 1.1rem; font-weight: 600; text-align: center; background-color: rgb(255, 255, 255);">互动游戏礼</span>
                        </section>
                        <p style="text-align: center; white-space: normal; background-color: rgb(255, 255, 255); font-size: 1.125rem; margin: 0px; color: rgb(1, 1, 1);">
                            <span style="font-size: 14px;">参与宋Pro</span>
                        </p>
                        <p style="margin-top: 0px; margin-bottom: 0px; text-align: center; white-space: normal; background-color: rgb(255, 255, 255); font-size: 1.25rem; color: rgb(175, 21, 29); font-weight: 600;">
                            <span style="font-size: 14px;">猜车型知识问答、移动K歌、游戏体验</span>
                        </p>
                        <p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; background-color: rgb(255, 255, 255); font-size: 1.25rem; color: rgb(175, 21, 29); font-weight: 600;">
                            <span style="font-size: 14px;">赢取精美礼品</span>
                        </p>
                        <p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; background-color: rgb(255, 255, 255); font-size: 1.25rem; color: rgb(175, 21, 29); font-weight: 600;">
                            <span style="font-size: 14px;"><br/></span>
                        </p>
                        <p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; background-color: rgb(255, 255, 255); font-size: 1.25rem; color: rgb(175, 21, 29); font-weight: 600;">
                            <span style="font-size: 20px;">大师智造 敢为更赞</span>
                        </p>
                        <p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; background-color: rgb(255, 255, 255); font-size: 1.25rem; color: rgb(175, 21, 29); font-weight: 600;">
                            7.20 本周六
                        </p>
                        <p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; background-color: rgb(255, 255, 255); font-size: 1.25rem; color: rgb(175, 21, 29); font-weight: 600;">
                            成都上典比亚迪
                        </p>
                        <p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; background-color: rgb(255, 255, 255); font-size: 1.25rem; color: rgb(175, 21, 29); font-weight: 600;">
                            与您度过一场“Pro”盛会
                        </p>
                    </section>
                </section>
            </section>
        </section>
        <section style="font-size: 1rem; overflow: hidden; position: relative; background: rgb(255, 255, 255);">
            <section style="position: relative;">
                <p class="part_title" style="font-size: 1.125rem;font-weight:600;color: #fff;width:8rem;text-align: center;margin: 2rem auto 0;background:#b2151e;border-radius: 15px;">
                    <span style="display:inline-block;width:100%;padding: .5rem 0">宋Pro赞放日</span>
                </p>
            </section>
            <section style="padding: 0rem .5rem;box-sizing: border-box;overflow: hidden;">
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <setion>
                        <img src="https://7-imgpub.51huanche.com/ueditor/images/1150695969944375296.jpg-normal" style="width: 100%;margin: .8rem auto;display: block;" title="undefined" alt="云服务APP智能遥控驾驶 - 副本.jpg"/>
                    </setion>
                    <section class="act_desc" style="font-size:1rem;color: #b1161c;font-weight:600;text-align: center;margin: 0;padding:0;">
                        云服务APP智能遥控驾驶
                    </section>
                </section>
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <setion>
                        <img src="https://7-imgpub.51huanche.com/ueditor/images/1150696563161567232.jpg-normal" style="width: 100%;margin: .8rem auto;display: block;" title="undefined" alt="全息透明影像系统 - 副本.jpg"/>
                    </setion>
                    <section class="act_desc" style="font-size:1rem;color: #b1161c;font-weight:600;text-align: center;margin: 0;padding:0;">
                        全息透明影像系统
                    </section>
                </section>
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <setion>
                        <img src="https://7-imgpub.51huanche.com/ueditor/images/1150696679889047552.jpg-normal" style="width: 100%;margin: .8rem auto;display: block;" title="undefined" alt="ACC自适应巡航系统_AEB自动紧急制动系统.jpg"/>
                    </setion>
                    <p style="font-size:1rem;color: #b1161c;font-weight:600;text-align: center;margin: 0;padding:0;">
                        ACC自适应巡航系统
                    </p>
                    <p style="font-size: 1rem; color: rgb(177, 22, 28); font-weight: 600; margin: 0px; padding: 0px; text-align: center;">
                        AEB自动紧急制动系统
                    </p>
                </section>
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <setion>
                        <img src="https://7-imgpub.51huanche.com/ueditor/images/1150696824907108352.jpg-normal" style="width: 100%;margin: .8rem auto;display: block;" title="undefined" alt="BSD盲区监测系统 - 副本.jpg"/>
                    </setion>
                    <section class="act_desc" style="font-size:1rem;color: #b1161c;font-weight:600;text-align: center;margin: 0;padding:0;">
                        BSD盲区监测系统
                    </section>
                </section>
                <section class="act_item" style="margin: 0;padding: 0;background: #fff;position: relative;border-radius: 4px;padding: .25rem;">
                    <setion>
                        <img src="https://7-imgpub.51huanche.com/ueditor/images/1150696998966530048.jpg-normal" style="width: 100%;margin: .8rem auto;display: block;" title="undefined" alt="智能远光灯辅助系统 - 副本.jpg"/>
                    </setion>
                    <section class="act_desc" style="font-size:1rem;color: #b1161c;font-weight:600;text-align: center;margin: 0;padding:0;">
                        智能远光灯辅助系统
                    </section>
                </section>
            </section>
            <section style="text-align: center;color: #b1161c;box-sizing: border-box;padding: 1rem 0">
                <!--  更多优惠信息，欢迎到店咨询-->
            </section>
        </section>
    </section>
</section>

</body>
</html>